In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pytz

# sets the theme of the charts
plt.style.use('seaborn-v0_8-darkgrid')

%matplotlib inline

In [2]:
# imports the csv files
appointments_df = pd.read_csv('appointments.csv', low_memory=False, encoding='unicode_escape')

In [215]:
# checks the content of the csv files
appointments_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 424358 entries, 39 to 9752917
Data columns (total 15 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   pxid             424358 non-null  object
 1   clinicid         424358 non-null  object
 2   doctorid         424358 non-null  object
 3   apptid           424358 non-null  object
 4   status           424358 non-null  object
 5   TimeQueued       424358 non-null  datetime64[ns, Asia/Singapore]
 6   QueueDate        424358 non-null  datetime64[ns, Asia/Singapore]
 7   StartTime        424358 non-null  datetime64[ns, Asia/Singapore]
 8   EndTime          424358 non-null  datetime64[ns, Asia/Singapore]
 9   type             424358 non-null  object
 10  Virtual          424358 non-null  object
 11  QueueDifference  424358 non-null  timedelta64[ns]
 12  WaitingTime      424358 non-null  timedelta64[ns]
 13  Duration         424358 non-null  timedelta64[ns]
 14  Valid            424358 non-null  object
dtypes: datetime64[ns, Asia/Singapore](4), object(8), timedelta64[ns](3)
memory usage: 51.8+ MB

In [216]:
appointments_df

,pxid,clinicid,doctorid,apptid,status,TimeQueued,QueueDate,StartTime,EndTime,type,Virtual,QueueDifference,WaitingTime,Duration,Valid
39,138BCDD2BB2FD204C6CA43C988C0A7D5,E3D2B39D8BC215F6540218D20280232A,6EB887126D24E8F1CD8AD5033482C781,AD81FCC8E4B73C3B465CB420B17630C0,Complete,2021-07-07 12:18:20+08:00,2021-07-07 00:00:00+08:00,2021-07-07 19:00:00+08:00,2021-07-07 19:15:00+08:00,Consultation,True,0 days 12:18:20,0 days 06:41:40,0 days 00:15:00,1
41,63415D610633FD2A37A63B494E046E8A,E3D2B39D8BC215F6540218D20280232A,6EB887126D24E8F1CD8AD5033482C781,4FEDF132D114656A42BA7AE765D606B8,Complete,2021-07-21 07:39:33+08:00,2021-07-21 00:00:00+08:00,2021-07-21 13:00:00+08:00,2021-07-21 13:15:00+08:00,Consultation,False,0 days 07:39:33,0 days 05:20:27,0 days 00:15:00,1
71,590CA1CA247F1352073DB454A012EA61,E3D2B39D8BC215F6540218D20280232A,6EB887126D24E8F1CD8AD5033482C781,6DAE7EC7319952C2CDD38BD848B04E6A,Complete,2021-12-08 07:20:04+08:00,2021-12-08 00:00:00+08:00,2021-12-08 13:19:00+08:00,2021-12-08 13:34:00+08:00,Consultation,False,0 days 07:20:04,0 days 05:58:56,0 days 00:15:00,1
202,8294685675B999BF9C9DD8CE6FF7BC14,B3432FAACA931632A24FC96B3D1C71EF,6EB887126D24E8F1CD8AD5033482C781,F4E4AD553D1236FCACC99642521F14C7,Complete,2021-06-29 17:05:54+08:00,2021-06-29 00:00:00+08:00,2021-06-29 19:05:00+08:00,2021-06-29 19:20:00+08:00,Consultation,True,0 days 17:05:54,0 days 01:59:06,0 days 00:15:00,1
211,A1A85B3515796945A24EEF19CF81FB1B,B3432FAACA931632A24FC96B3D1C71EF,6EB887126D24E8F1CD8AD5033482C781,CCAA25B8A8C89D74F231F2455EF27B86,Complete,2021-07-23 21:00:11+08:00,2021-07-23 00:00:00+08:00,2021-07-23 21:30:00+08:00,2021-07-23 21:45:00+08:00,Consultation,True,0 days 21:00:11,0 days 00:29:49,0 days 00:15:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9752130,937B3AAE14DE1A7D5A391F10CCF18525,9E106E26D5EC709CE1B63D12C5447791,9F5506939986201D55A4353FF8B4028E,A1DC6613EB0C6D3B5053534861B9F753,Complete,2024-01-23 02:35:49+08:00,2024-01-23 00:00:00+08:00,2024-01-23 14:30:00+08:00,2024-01-23 15:00:00+08:00,Consultation,True,0 days 02:35:49,0 days 11:54:11,0 days 00:30:00,1
9752132,6D31676A70BDB68DCE25F39A04AB1709,2A44FC01550DE95485464916CFCFDBF1,4FC8ED929E539525E3590F1607718F97,F44BFF7AEE83C42380B5098B8416597F,Complete,2021-12-18 19:20:26+08:00,2021-12-18 00:00:00+08:00,2021-12-18 20:00:00+08:00,2021-12-18 21:00:00+08:00,Consultation,True,0 days 19:20:26,0 days 00:39:34,0 days 01:00:00,1
9752908,E269D82BC53F7BED168916E4E5FB1447,772C1C73D4FFE88046A3CDB8772E53EB,B706835DE79A2B4E80506F582AF3676A,322D90415C2211389B388FC7A8E2FC81,Complete,2023-07-06 09:21:13+08:00,2023-07-06 00:00:00+08:00,2023-07-06 10:00:00+08:00,2023-07-06 10:15:00+08:00,Consultation,True,0 days 09:21:13,0 days 00:38:47,0 days 00:15:00,1
9752912,F8F4B4765E25159D179D7BF1110A0794,CCFC2D538DDFF519D893A6B966A1C4F1,B706835DE79A2B4E80506F582AF3676A,5448C9C7C3FEF298F47DB4A8EFC1CC8B,Complete,2023-07-08 15:03:17+08:00,2023-07-08 00:00:00+08:00,2023-07-08 16:00:00+08:00,2023-07-08 16:15:00+08:00,Consultation,False,0 days 15:03:17,0 days 00:56:43,0 days 00:15:00,1
9752917,F8F4B4765E25159D179D7BF1110A0794,CCFC2D538DDFF519D893A6B966A1C4F1,B706835DE79A2B4E80506F582AF3676A,8EE8215B30F7CC875384AFF080370285,Queued,2023-08-08 13:01:00+08:00,2023-08-08 00:00:00+08:00,2023-08-08 16:00:55+08:00,2023-08-08 16:15:55+08:00,Consultation,False,0 days 13:01:00,0 days 02:59:55,0 days 00:15:00,1

## `id` variables

### `pxid` variable

In [ ]:
# check values of pxid
appointments_df['pxid']

In [ ]:
# check unique values of pxid
appointments_df['pxid'].unique()

In [ ]:
# check value counts of pxid
appointments_df['pxid'].value_counts()

In [ ]:
# check for null values of pxid
pxid_count = appointments_df['pxid'].isnull().sum()

### `clinicid` variable

In [ ]:
# check values of clinicid
appointments_df['clinicid']

In [ ]:
# check unique values of clinicid
appointments_df['clinicid'].unique()

In [ ]:
# check value counts of clinicid
appointments_df['clinicid'].value_counts()

In [ ]:
# check for null values of clinicid
appointments_df['clinicid'].isnull().sum()

### `doctorid` variable

In [ ]:
# check values of doctorid
appointments_df['doctorid']

In [ ]:
# check unique values of doctorid
appointments_df['doctorid'].unique()

In [ ]:
# check value counts of doctorid
appointments_df['doctorid'].value_counts()

In [ ]:
# check null values of doctorid
appointments_df['doctorid'].isnull().sum()

### `apptid` variable

In [ ]:
# check values of apptid
appointments_df['apptid']

In [ ]:
# check unique values of apptid
appointments_df['apptid'].unique()

In [ ]:
# check value counts of apptid
appointments_df['apptid'].value_counts()

In [ ]:
# check null values of apptid
appointments_df['apptid'].isnull().sum()

## TO CLEAN

### `status` variable

In [5]:
# check values of status
appointments_df['status']

0          Complete
1            Queued
2            Queued
3            Queued
4            Queued
             ...
9752927      Queued
9752928      Queued
9752929      Queued
9752930      Queued
9752931      Queued
Name: status, Length: 9752932, dtype: object

In [6]:
# check unique values of status
appointments_df['status'].unique()

array(['Complete', 'Queued', 'NoShow', 'Serving', 'Cancel', 'Skip',
       'Completed', 'Admitted'], dtype=object)

In [160]:
# check count for status since there are two values for 'Complete'
status_vc = appointments_df['status'].value_counts()
print(status_vc)

status
Complete    829450
Queued      362254
Cancel       36119
NoShow       33042
Serving      20489
Skip          4698
Name: count, dtype: int64

In [8]:
# replace Completed with Complete
appointments_df['status'] = appointments_df['status'].replace({'Completed': 'Complete'}, regex=True)
status_vc = appointments_df['status'].value_counts()
print(status_vc)

status
Complete    6473685
Queued      2523855
Serving      284774
NoShow       230048
Cancel       213270
Skip          27298
Admitted          2
Name: count, dtype: int64

In [9]:
# check null values of status
appointments_df['status'].isnull().sum()

0

### `QueueDate` variable

In [10]:
# check values of QueueDate
appointments_df['QueueDate']

0          2018-04-10 16:00:00
1          2018-04-08 16:00:00
2          2018-03-30 16:00:00
3                          NaN
4                          NaN
                  ...
9752927    2023-11-22 16:00:00
9752928    2023-12-04 16:00:00
9752929    2024-01-03 16:00:00
9752930    2024-01-12 16:00:00
9752931    2024-01-03 16:00:00
Name: QueueDate, Length: 9752932, dtype: object

In [11]:
# convert to datetime data type
appointments_df['QueueDate'] = pd.to_datetime(appointments_df['QueueDate'], errors='coerce')

In [135]:
# check null values of QueueDate
appointments_df['QueueDate'].isnull().sum()

0

In [13]:
# drop rows that have invalid Queuedate
appointments_df = appointments_df.dropna(subset=['QueueDate'])

In [14]:
# Set the timezone to GMT+8 (Asia/Singapore)
asian_tz = pytz.timezone('Asia/Singapore')
# Convert the 'QueueDate' column to the new timezone
appointments_df['QueueDate'] = appointments_df['QueueDate'].dt.tz_localize('UTC').dt.tz_convert(asian_tz)

C:\Users\Anne Sulit\AppData\Local\Temp\ipykernel_11588\2623430957.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  appointments_df['QueueDate'] = appointments_df['QueueDate'].dt.tz_localize('UTC').dt.tz_convert(asian_tz)

In [15]:
print(appointments_df['QueueDate'].dtype)

datetime64[ns, Asia/Singapore]

### `TimeQueued` variable

In [16]:
# check values of TimeQueued
appointments_df['TimeQueued']

0                    2018-04-11 01:59:58
1                    2018-04-10 10:34:16
2                    2018-04-03 15:26:19
21         2020-08-03 02:05:14.693000000
22         2020-08-07 04:39:30.713000000
                       ...
9752927    2023-11-20 00:34:25.337000000
9752928    2023-12-05 07:51:25.443000000
9752929    2024-01-04 06:11:06.437000000
9752930    2024-01-13 06:12:54.737000000
9752931    2024-01-04 00:45:05.063000000
Name: TimeQueued, Length: 9752833, dtype: object

In [17]:
# convert to datetime data type
appointments_df['TimeQueued'] = pd.to_datetime(appointments_df['TimeQueued'], errors='coerce')

C:\Users\Anne Sulit\AppData\Local\Temp\ipykernel_11588\1334969640.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  appointments_df['TimeQueued'] = pd.to_datetime(appointments_df['TimeQueued'], errors='coerce')

In [136]:
# check null values of TimeQueued
appointments_df['TimeQueued'].isnull().sum()

0

In [19]:
# drop rows that have invalid TimeQueued
appointments_df = appointments_df.dropna(subset=['TimeQueued'])

In [20]:
# Set the timezone to GMT+8 (Asia/Singapore)
asian_tz = pytz.timezone('Asia/Singapore')

# Convert the 'QueueDate' column to the new timezone
appointments_df['TimeQueued'] = appointments_df['TimeQueued'].dt.tz_localize('UTC').dt.tz_convert(asian_tz)

In [200]:
# drop rows whose timequeued is earlier than Queue Date
appointments_df.loc[appointments_df['TimeQueued'] < appointments_df['QueueDate'], 'TimeQueued'] = pd.NaT
appointments_df = appointments_df.dropna(subset=['TimeQueued'])

In [201]:
print(appointments_df['TimeQueued'].dtype)

datetime64[ns, Asia/Singapore]

### `StartTime` variable

In [21]:
# check values of StartTime
appointments_df['StartTime']

0                          NaN
1          2018-04-09 10:33:00
2          2018-03-31 15:25:00
38                         NaN
39         2021-07-07 11:00:00
                  ...
9752908    2023-07-06 02:00:00
9752909                    NaN
9752912    2023-07-08 08:00:00
9752915    2023-07-20 07:30:33
9752917    2023-08-08 08:00:55
Name: StartTime, Length: 4089373, dtype: object

In [22]:
# convert to datetime data type
appointments_df['StartTime'] = pd.to_datetime(appointments_df['StartTime'], errors='coerce')

In [137]:
# check null values of StartTime
appointments_df['StartTime'].isnull().sum()

0

In [119]:
# drop rows that have invalid TimeQueued
appointments_df = appointments_df.dropna(subset=['StartTime'])

In [24]:
# Set the timezone to GMT+8 (Asia/Singapore)
asian_tz = pytz.timezone('Asia/Singapore')

# Convert the 'QueueDate' column to the new timezone
appointments_df['StartTime'] = appointments_df['StartTime'].dt.tz_localize('UTC').dt.tz_convert(asian_tz)

In [ ]:
# drop rows whose StartTime is earlier than TimeQueued
appointments_df.loc[appointments_df['StartTime'] < appointments_df['TimeQueued'], 'StartTime'] = pd.NaT
appointments_df = appointments_df.dropna(subset=['StartTime'])

### `EndTime` variable

In [25]:
# check values of EndTime
appointments_df['EndTime']

0                          NaN
1          2018-04-12 05:29:57
2          2018-04-05 15:51:47
38                         NaN
39         2021-07-07 11:15:00
                  ...
9752908    2023-07-06 02:15:00
9752909                    NaN
9752912    2023-07-08 08:15:00
9752915    2023-07-20 07:45:33
9752917    2023-08-08 08:15:55
Name: EndTime, Length: 4089373, dtype: object

In [26]:
# convert to datetime data type
appointments_df['EndTime'] = pd.to_datetime(appointments_df['EndTime'], errors='coerce')

In [214]:
# check null values of EndTime
appointments_df['EndTime'].isnull().sum()

0

In [28]:
# Set the timezone to GMT+8 (Asia/Singapore)
asian_tz = pytz.timezone('Asia/Singapore')

# Convert the 'QueueDate' column to the new timezone
appointments_df['EndTime'] = appointments_df['EndTime'].dt.tz_localize('UTC').dt.tz_convert(asian_tz)

In [54]:
# drop rows whose EndTime is earlier than StartTime
appointments_df['InvalidDuration'] = np.where(appointments_df['EndTime'] < appointments_df['StartTime'], 'Invalid', '')
appointments_df = appointments_df[appointments_df['InvalidDuration'] != 'Invalid']
appointments_df = appointments_df.drop(columns=['InvalidDuration'])

In [131]:
#drop rows where status is complete but there is no endtime
appointments_df = appointments_df[((appointments_df['status'] != 'Complete') | (appointments_df['EndTime'].notna()))]
appointments_df = appointments_df[((appointments_df['status'] != 'NoShow') | (appointments_df['EndTime'].notna()))]

In [212]:
# drop rows where type is consultation and there is no end time
appointments_df = appointments_df[((appointments_df['type'] == 'Consultation') & (appointments_df['EndTime'].notna()))]

### FORMATTING TIMES VARIABLES

In [ ]:
# get date
appointments_df['QueueDate'] = pd.to_datetime(appointments_df['QueueDate'], errors='coerce').dt.date
# convert to datetime data type
appointments_df['QueueDate'] = pd.to_datetime(appointments_df['QueueDate'], errors='coerce')

In [ ]:
# Remove the date component
appointments_df['TimeQueued'] = appointments_df['TimeQueued'].dt.time
appointments_df

### `type` variable

In [ ]:
# check values of type
appointments_df['type']

In [ ]:
# check unique values of type
appointments_df['type'].unique()

In [ ]:
type_vc = appointments_df['type'].value_counts()
print(type_vc)

In [164]:
# check null values of type
appointments_df['type'].isnull().sum()

0

### `Virtual` variable

In [69]:
# check values of Virtual
appointments_df['Virtual']

0            NaN
1            NaN
2            NaN
38         False
39          True
           ...
9752908     True
9752909    False
9752912    False
9752915    False
9752917    False
Name: Virtual, Length: 4088602, dtype: object

In [77]:
# check unique values of Virtual
appointments_df['Virtual'].unique()

array([nan, False, True], dtype=object)

In [175]:
virtual_vc = appointments_df['Virtual'].value_counts()
print(virtual_vc)

Virtual
False    771700
True     198979
Name: count, dtype: int64

In [176]:
# check null values of Virtual
appointments_df['Virtual'].isnull().sum()

315373

In [80]:
# all inpatient appointments are set to False
appointments_df.loc[appointments_df['type'] == 'Inpatient', 'Virtual'] = False

In [177]:
# drop all rows where Virtual == NaN
appointments_df = appointments_df.dropna(subset=['Virtual'])

### Exporting Files

In [211]:
# Select the column you want to export
selected_column = appointments_df[appointments_df['EndTime'].isna()]

# Write the selected column to a new CSV file
selected_column.to_csv('noendtime.csv', index=False)

In [29]:
appointments_df['QueueDifference'] = appointments_df['TimeQueued'] - appointments_df['QueueDate']
appointments_df[['StartTime', 'EndTime', 'QueueDifference']]

                        StartTime                   EndTime   QueueDifference
0                             NaT                       NaT   0 days 09:59:58
1       2018-04-09 18:33:00+08:00 2018-04-12 13:29:57+08:00   1 days 18:34:16
2       2018-03-31 23:25:00+08:00 2018-04-05 23:51:47+08:00   3 days 23:26:19
38                            NaT                       NaT   0 days 15:05:35
39      2021-07-07 19:00:00+08:00 2021-07-07 19:15:00+08:00   0 days 12:18:20
...                           ...                       ...               ...
9752908 2023-07-06 10:00:00+08:00 2023-07-06 10:15:00+08:00   0 days 09:21:13
9752909                       NaT                       NaT   0 days 11:21:17
9752912 2023-07-08 16:00:00+08:00 2023-07-08 16:15:00+08:00   0 days 15:03:17
9752915 2023-07-20 15:30:33+08:00 2023-07-20 15:45:33+08:00 -7 days +13:07:47
9752917 2023-08-08 16:00:55+08:00 2023-08-08 16:15:55+08:00   0 days 13:01:00

[4089373 rows x 3 columns]

In [ ]:
appointments_df['TimeQueued'] = pd.to_datetime(appointments_df['TimeQueued'])
appointments_df['QueueDate'] = pd.to_datetime(appointments_df['QueueDate'])

# Calculate the difference in days between 'TimeQueued' and 'QueueDate'
appointments_df['day_difference'] = (appointments_df['TimeQueued'] - appointments_df['QueueDate']).dt.days

In [ ]:
appointments_df['day_difference'].value_counts()

In [82]:
appointments_df[appointments_df['type'] == 'Consultation'])

4009913

In [81]:
count = appointments_df[(appointments_df['type'] == 'In') & (appointments_df['Virtual'].isna())].shape[0]
count1 = appointments_df[(appointments_df['type'] == 'Consultation') & (appointments_df['Virtual'].notna())].shape[0]

print("Number of appointments where type is 'Consultation' and 'Virtual' is NaN:", count)
print("Number of appointments where type is 'Consultation' and 'Virtual' is not NaN:", count1)

Number of appointments where type is 'Consultation' and 'Virtual' is NaN: 1279056
Number of appointments where type is 'Consultation' and 'Virtual' is not NaN: 2730857

In [190]:
count = appointments_df[(appointments_df['type'] == 'Inpatient') & (appointments_df['Valid'] == '0')].shape[0]

print("Number of appointments where type is 'Inpatient' and 'valid' is NaN:", count)

Number of appointments where type is 'Inpatient' and 'valid' is NaN: 430

In [116]:
consultations_df = appointments_df[(appointments_df['type'] == 'Consultation')&(appointments_df['Virtual'] == True)]

In [208]:
dff = appointments_df[(appointments_df['TimeQueued'].dt.date > appointments_df['QueueDate'].dt.date) & (appointments_df['type'] == 'Inpatient')]

dff['status'].value_counts()

status
Queued     25779
Serving        1
Name: count, dtype: int64

In [199]:
#Complete', 'Queued', 'NoShow', 'Serving', 'Cancel', 'Skip','Completed', 'Admitted

specific_status_rows = appointments_df[appointments_df['type'] == 'Inpatient']
specific_status_rows

,pxid,clinicid,doctorid,apptid,status,TimeQueued,QueueDate,StartTime,EndTime,type,Virtual,QueueDifference,WaitingTime,Duration,Valid
1,EAE3C87D0B33351272F2E9B9B1B56217,1E0F65EB20ACBFB27EE05DDC000B50EC,82AA4B0AF34C2313A562076992E50AA3,6585A31C60A1886FBA1433C50012B504,Queued,2018-04-10 18:34:16+08:00,2018-04-09 00:00:00+08:00,2018-04-09 18:33:00+08:00,2018-04-12 13:29:57+08:00,Inpatient,False,1 days 18:34:16,-2 days +23:58:44,2 days 18:56:57,1
2,7C5C93809D626CC702D08F33985B2B58,1E0F65EB20ACBFB27EE05DDC000B50EC,82AA4B0AF34C2313A562076992E50AA3,7250DCFF615E6580295C7E6ED4322371,Queued,2018-04-03 23:26:19+08:00,2018-03-31 00:00:00+08:00,2018-03-31 23:25:00+08:00,2018-04-05 23:51:47+08:00,Inpatient,False,3 days 23:26:19,-4 days +23:58:41,5 days 00:26:47,1
6674,CE28E216F8C7413B85DA28C6DFC3B088,BA28C7F62E092B90383052C29844FCF8,ECCD9F7DC92858B741132FDA313130CF,49B75169564F3399A6F2F9DF46D95AFF,Queued,2022-10-06 19:53:02+08:00,2022-10-05 00:00:00+08:00,2022-10-05 17:00:10+08:00,2022-10-07 18:30:11+08:00,Inpatient,False,1 days 19:53:02,-2 days +21:07:08,2 days 01:30:01,1
6723,F1A0BB192FA6909695F923B4FE3CCE82,BA28C7F62E092B90383052C29844FCF8,ECCD9F7DC92858B741132FDA313130CF,B06A70AB9166E25977E9DC2088630FD2,Queued,2022-10-26 10:15:25+08:00,2022-10-25 00:00:00+08:00,2022-10-25 10:14:58+08:00,2022-10-28 15:46:18+08:00,Inpatient,False,1 days 10:15:25,-2 days +23:59:33,3 days 05:31:20,1
6724,6F0DD111E88C7DCC86158A2569A2CFF2,BA28C7F62E092B90383052C29844FCF8,ECCD9F7DC92858B741132FDA313130CF,BFA763B918D5C5050245902BCBFE7A59,Queued,2022-10-27 19:09:57+08:00,2022-10-26 00:00:00+08:00,2022-10-26 18:00:18+08:00,2022-11-02 13:21:41+08:00,Inpatient,False,1 days 19:09:57,-2 days +22:50:21,6 days 19:21:23,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9750986,80BEDC4D74C9DC62C78873579634F010,1C05021910BD1385D5BB4EA2AE8FE585,81930C54E08B6D26D9638DD2E4656DC1,C9D3456CC07167100F502E73AC710E03,Queued,2023-12-25 20:56:42+08:00,2023-12-28 00:00:00+08:00,2023-12-28 07:00:21+08:00,2023-12-31 08:27:44+08:00,Inpatient,False,-3 days +20:56:42,2 days 10:03:39,3 days 01:27:23,1
9751190,26A146563A105D73B925B9811D21174B,77A44D5CFB595B3545D61AA742268C9B,9F5506939986201D55A4353FF8B4028E,51197FC27630D92848AD0F229F93D225,Queued,2022-07-27 23:43:12+08:00,2022-07-27 00:00:00+08:00,2022-07-27 11:00:00+08:00,2022-07-31 23:29:24+08:00,Inpatient,False,0 days 23:43:12,-1 days +11:16:48,4 days 12:29:24,1
9751245,A16FCF01B205AF6F6FD30BC9651B22FB,77A44D5CFB595B3545D61AA742268C9B,9F5506939986201D55A4353FF8B4028E,90B1B391C57FEBD3E56955813F79E789,Queued,2022-10-21 19:29:54+08:00,2022-10-21 00:00:00+08:00,2022-10-21 11:23:00+08:00,2022-11-03 20:47:04+08:00,Inpatient,False,0 days 19:29:54,-1 days +15:53:06,13 days 09:24:04,1
9751250,A932BCE968B6E63DB5F80E4F1E72840B,77A44D5CFB595B3545D61AA742268C9B,9F5506939986201D55A4353FF8B4028E,F3A9C391A5053D21A63E2BE25B3A30CB,Queued,2022-10-31 10:19:01+08:00,2022-10-28 00:00:00+08:00,2022-10-28 10:17:00+08:00,2022-10-31 17:00:18+08:00,Inpatient,False,3 days 10:19:01,-4 days +23:57:59,3 days 06:43:18,1
9751335,B0BEC67D90FFD07247F079E2B9CC1F42,77A44D5CFB595B3545D61AA742268C9B,9F5506939986201D55A4353FF8B4028E,2970FDBF928907A907CFE4CCACB781C3,Queued,2023-05-10 12:00:25+08:00,2023-05-09 00:00:00+08:00,2023-05-09 11:59:53+08:00,2023-05-16 16:00:21+08:00,Inpatient,False,1 days 12:00:25,-2 days +23:59:28,7 days 04:00:28,1

In [92]:
appointments_df[appointments_df['Virtual'].isna()]

,pxid,clinicid,doctorid,apptid,status,TimeQueued,QueueDate,StartTime,EndTime,type,Virtual,QueueDifference,WaitingTime,Duration,Valid
0,EF196B348A49FB32DABC9834DC4FAAD9,ADF7EE2DCF142B0E11888E72B43FCB75,BB04AF0F7ECAEE4AAE62035497DA1387,C1CC0949B93D00A559F7A0BD38361E80,Complete,2018-04-11 09:59:58+08:00,2018-04-11 00:00:00+08:00,NaT,NaT,Consultation,NaN,0 days 09:59:58,NaT,NaT,1
107,B9A55EA60F43F58B94397E470344691E,B3432FAACA931632A24FC96B3D1C71EF,6EB887126D24E8F1CD8AD5033482C781,8C3FA8C77BEDAF4A360EE9E33BC982DE,Cancel,2020-05-27 15:10:51+08:00,2020-05-28 00:00:00+08:00,2020-05-28 18:05:00+08:00,2020-05-28 18:20:00+08:00,Consultation,NaN,-1 days +15:10:51,1 days 02:54:09,0 days 00:15:00,0
1216,8958E65311D3DB9E12AB3EA62EC83F12,12CFBD88070F29EE643BA6A9D614F79B,C1722A7941D61AAD6E651A35B65A9C3E,D1B855D3A38AEECE668EB0606345D916,Queued,2020-05-10 17:08:32+08:00,2020-05-10 00:00:00+08:00,NaT,NaT,Consultation,NaN,0 days 17:08:32,NaT,NaT,1
3627,B4254533BC0FEF024086A25DF731B299,A24BEC8F118F294B46C98659A72FE06E,10FA5EB83300E5F592B9B35A0E07FC3F,8B0190B02E34104AECE6E99EC0BED803,Queued,2020-05-12 00:55:37+08:00,2020-05-12 00:00:00+08:00,2020-05-12 01:00:00+08:00,2020-05-12 01:15:00+08:00,Consultation,NaN,0 days 00:55:37,0 days 00:04:23,0 days 00:15:00,1
6645,C504A4E3D2E08ECD16D251840EE92128,AC909707722279DCED6B3D6D2D646FA4,F250DAFF6A09865FF432821B2ADAC54F,19ED6A5C48BD40E1E0D02ECA360FCE9F,Cancel,2020-05-11 00:20:41+08:00,2020-05-11 00:00:00+08:00,2020-05-11 00:30:39+08:00,2020-05-11 01:10:39+08:00,Consultation,NaN,0 days 00:20:41,0 days 00:09:58,0 days 00:40:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9751652,74CC21A683FC68E22D53740B0E75B9ED,77A44D5CFB595B3545D61AA742268C9B,9F5506939986201D55A4353FF8B4028E,99F36EF5159F5C50DE65159019FAEC26,Queued,2024-01-20 16:13:52+08:00,2024-01-27 00:00:00+08:00,NaT,NaT,Consultation,NaN,-7 days +16:13:52,NaT,NaT,0
9751655,D4BD5BB03C5E139B187284EA707A16AF,53A738BEB939FDE01527390D0111A747,9F5506939986201D55A4353FF8B4028E,8145A7EDE03B6C8C879F0DB06AD0549E,Complete,2020-06-13 15:08:47+08:00,2020-06-15 00:00:00+08:00,2020-06-15 14:00:47+08:00,2020-06-15 15:00:47+08:00,Consultation,NaN,-2 days +15:08:47,1 days 22:52:00,0 days 01:00:00,0
9751658,D5DAD68FE20C4B989BAA54E73C00E4D5,53A738BEB939FDE01527390D0111A747,9F5506939986201D55A4353FF8B4028E,60B359A6A00A8350722F84547B8B6093,Queued,2020-06-22 17:43:31+08:00,2020-06-29 00:00:00+08:00,2020-06-29 14:00:00+08:00,2020-06-29 15:00:00+08:00,Consultation,NaN,-7 days +17:43:31,6 days 20:16:29,0 days 01:00:00,0
9751661,D91FC052F35346FD6EE58EBD2A4AF82C,53A738BEB939FDE01527390D0111A747,9F5506939986201D55A4353FF8B4028E,8A199A733892B688D2A51FD74AD946CD,Complete,2020-07-04 18:58:21+08:00,2020-07-06 00:00:00+08:00,NaT,NaT,Consultation,NaN,-2 days +18:58:21,NaT,NaT,0
9752131,7786C2143948AFC56626CA5924B1A8B3,71E8991CD0A67BCC371061AA0A95BF82,69B4FA3BE19BDF400DF34E41B93636A4,3788C9EDF43B24EC99E16AA572A175A1,Queued,2020-05-10 03:31:54+08:00,2020-05-10 00:00:00+08:00,NaT,NaT,Consultation,NaN,0 days 03:31:54,NaT,NaT,1

In [30]:
appointments_df['WaitingTime'] = appointments_df['StartTime'] - appointments_df['TimeQueued']
appointments_df[['StartTime', 'EndTime', 'WaitingTime']]

                        StartTime                   EndTime       WaitingTime
0                             NaT                       NaT               NaT
1       2018-04-09 18:33:00+08:00 2018-04-12 13:29:57+08:00 -2 days +23:58:44
2       2018-03-31 23:25:00+08:00 2018-04-05 23:51:47+08:00 -4 days +23:58:41
38                            NaT                       NaT               NaT
39      2021-07-07 19:00:00+08:00 2021-07-07 19:15:00+08:00   0 days 06:41:40
...                           ...                       ...               ...
9752908 2023-07-06 10:00:00+08:00 2023-07-06 10:15:00+08:00   0 days 00:38:47
9752909                       NaT                       NaT               NaT
9752912 2023-07-08 16:00:00+08:00 2023-07-08 16:15:00+08:00   0 days 00:56:43
9752915 2023-07-20 15:30:33+08:00 2023-07-20 15:45:33+08:00   7 days 02:22:46
9752917 2023-08-08 16:00:55+08:00 2023-08-08 16:15:55+08:00   0 days 02:59:55

[4089373 rows x 3 columns]

In [31]:
appointments_df['Duration'] = appointments_df['EndTime'] - appointments_df['StartTime']
appointments_df[['StartTime', 'EndTime', 'Duration']]

                        StartTime                   EndTime        Duration
0                             NaT                       NaT             NaT
1       2018-04-09 18:33:00+08:00 2018-04-12 13:29:57+08:00 2 days 18:56:57
2       2018-03-31 23:25:00+08:00 2018-04-05 23:51:47+08:00 5 days 00:26:47
38                            NaT                       NaT             NaT
39      2021-07-07 19:00:00+08:00 2021-07-07 19:15:00+08:00 0 days 00:15:00
...                           ...                       ...             ...
9752908 2023-07-06 10:00:00+08:00 2023-07-06 10:15:00+08:00 0 days 00:15:00
9752909                       NaT                       NaT             NaT
9752912 2023-07-08 16:00:00+08:00 2023-07-08 16:15:00+08:00 0 days 00:15:00
9752915 2023-07-20 15:30:33+08:00 2023-07-20 15:45:33+08:00 0 days 00:15:00
9752917 2023-08-08 16:00:55+08:00 2023-08-08 16:15:55+08:00 0 days 00:15:00

[4089373 rows x 3 columns]

In [117]:
consultations_df['Duration'].value_counts()

Duration
0 days 00:15:00    146893
0 days 00:30:00     22005
0 days 00:10:00      7347
0 days 01:00:00      6823
0 days 00:20:00      6772
                    ...
0 days 00:45:16         1
0 days 00:30:14         1
0 days 00:30:26         1
0 days 00:30:05         1
0 days 00:14:47         1
Name: count, Length: 249, dtype: int64

In [187]:
# drop rows whose EndTime is earlier than StartTime
#appointments_df['Valid'] = np.where(appointments_df['QueueDate'].dt.date == appointments_df['TimeQueued'].dt.date, '1', '0')


# Condition  1: QueueDate and TimeQueued are on the same date
condition1 = (appointments_df['QueueDate'].dt.date == appointments_df['TimeQueued'].dt.date)

# Condition  2: TimeQueued is later than QueueDate and type is 'inpatient'
condition2 = ((appointments_df['QueueDate'].dt.date == appointments_df['StartTime'].dt.date)) & (appointments_df['type'] == 'Inpatient')

# Use numpy.select to create the 'Valid' column with '1' where conditions are met
appointments_df['Valid'] = np.select([condition1, condition2], ['1', '1'], default='0')

In [217]:
appointments_df['status'].value_counts()

status
Complete    373140
Queued       33867
Serving       7062
NoShow        5026
Cancel        3747
Skip          1516
Name: count, dtype: int64