In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# sets the theme of the charts
plt.style.use('seaborn-v0_8-darkgrid')

%matplotlib inline

In [2]:
# imports the csv files
appointments_df = pd.read_csv('appointments.csv', low_memory=False, encoding='unicode_escape')

In [3]:
# checks the content of the csv files
appointments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9752932 entries, 0 to 9752931
Data columns (total 11 columns):
 #   Column      Dtype
---  ------      -----
 0   pxid        object
 1   clinicid    object
 2   doctorid    object
 3   apptid      object
 4   status      object
 5   TimeQueued  object
 6   QueueDate   object
 7   StartTime   object
 8   EndTime     object
 9   type        object
 10  Virtual     object
dtypes: object(11)
memory usage: 818.5+ MB

### `pxid` variable

In [4]:
# check values of pxid
appointments_df['pxid']

0          EF196B348A49FB32DABC9834DC4FAAD9
1          EAE3C87D0B33351272F2E9B9B1B56217
2          7C5C93809D626CC702D08F33985B2B58
3          C300C2B9E0E5D4C46E8093BCDBFA05CA
4          B3DBE7F9E4DC33CBC5660E0A923CF8E8
                         ...
9752927    2583E761CF4CAB4813AAEAFDAA883CC6
9752928    F51E6BF96EA5028AE5F5C01EBF08E3BD
9752929    84E3EB4A060096C3702D33F5A52E8B43
9752930    2B9F701BED6F68800637ADB7EF4CACE2
9752931    2ED01D09EF929AE3CA7564A2CB09DC2C
Name: pxid, Length: 9752932, dtype: object

In [5]:
# check unique values of pxid
appointments_df['pxid'].unique()

array(['EF196B348A49FB32DABC9834DC4FAAD9',
       'EAE3C87D0B33351272F2E9B9B1B56217',
       '7C5C93809D626CC702D08F33985B2B58', ...,
       '84E3EB4A060096C3702D33F5A52E8B43',
       '2B9F701BED6F68800637ADB7EF4CACE2',
       '2ED01D09EF929AE3CA7564A2CB09DC2C'], dtype=object)

In [13]:
# check value counts of pxid
appointments_df['pxid'].value_counts()

pxid
7CB50A8783C05F2788D7AE1EE79A4CF7    1249
0761C17912CDEF7AEF25D118E1936D9A     590
B4A945E181DE1FFB82D1D18CA9A51687     583
B2B657D3C301FFCBFDA0B2ED17E7A5EB     516
A2536B80CAD05E14355410332513D550     374
                                    ...
8AFAF290232A5A2738924D93DEE9DCC7       1
31E474891F3CB25A7E5A386E04549375       1
CF29CECFA79A3A9C93DF553B7223F4B7       1
ABD0DCF0DD4D2581718EF6C945053FBE       1
2ED01D09EF929AE3CA7564A2CB09DC2C       1
Name: count, Length: 3946064, dtype: int64

In [6]:
# check for null values of pxid
pxid_count = appointments_df['pxid'].isnull().sum()

### `clinicid` variable

In [7]:
# check values of clinicid
appointments_df['clinicid']

0          ADF7EE2DCF142B0E11888E72B43FCB75
1          1E0F65EB20ACBFB27EE05DDC000B50EC
2          1E0F65EB20ACBFB27EE05DDC000B50EC
3          98C39996BF1543E974747A2549B3107C
4          77EE3BC58CE560B86C2B59363281E914
                         ...
9752927    CCFC2D538DDFF519D893A6B966A1C4F1
9752928    CCFC2D538DDFF519D893A6B966A1C4F1
9752929    CCFC2D538DDFF519D893A6B966A1C4F1
9752930    CCFC2D538DDFF519D893A6B966A1C4F1
9752931    40F4775D64533EE66E3E20AE64228661
Name: clinicid, Length: 9752932, dtype: object

In [8]:
# check unique values of clinicid
appointments_df['clinicid'].unique()

array(['ADF7EE2DCF142B0E11888E72B43FCB75',
       '1E0F65EB20ACBFB27EE05DDC000B50EC',
       '98C39996BF1543E974747A2549B3107C', ...,
       '772C1C73D4FFE88046A3CDB8772E53EB',
       'CCFC2D538DDFF519D893A6B966A1C4F1',
       '40F4775D64533EE66E3E20AE64228661'], dtype=object)

In [14]:
# check value counts of clinicid
appointments_df['clinicid'].value_counts()

clinicid
7522A10DDF6916ABCCF0163B58CA0543    109517
6467C327EAF8940B4DD07A08C63C5E85    102465
D7FD83EAF0A5593A190E8E9C8D7ECE84     72096
F2B4053221961416D47D497814A8064F     70546
A7BF3F5462CC82062E41B3A2262E1A21     57308
                                     ...
5B92E4945EB3A04990671A4DA604FF17         1
933BD65AC164FA84EBEF0C17AE189B43         1
966BC24F56AB8397AB2303E8E4CDB4C7         1
86A2587A85BE5C0CC7E8D02F82DF6CC1         1
40F4775D64533EE66E3E20AE64228661         1
Name: count, Length: 25262, dtype: int64

In [9]:
# check for null values of clinicid
appointments_df['clinicid'].isnull().sum()

0

### `doctorid` variable

In [10]:
# check values of doctorid
appointments_df['doctorid']

0          BB04AF0F7ECAEE4AAE62035497DA1387
1          82AA4B0AF34C2313A562076992E50AA3
2          82AA4B0AF34C2313A562076992E50AA3
3          AD61AB143223EFBC24C7D2583BE69251
4          AD61AB143223EFBC24C7D2583BE69251
                         ...
9752927    B706835DE79A2B4E80506F582AF3676A
9752928    B706835DE79A2B4E80506F582AF3676A
9752929    B706835DE79A2B4E80506F582AF3676A
9752930    B706835DE79A2B4E80506F582AF3676A
9752931    B706835DE79A2B4E80506F582AF3676A
Name: doctorid, Length: 9752932, dtype: object

In [11]:
# check unique values of doctorid
appointments_df['doctorid'].unique()

array(['BB04AF0F7ECAEE4AAE62035497DA1387',
       '82AA4B0AF34C2313A562076992E50AA3',
       'AD61AB143223EFBC24C7D2583BE69251', ...,
       '69B4FA3BE19BDF400DF34E41B93636A4',
       '4FC8ED929E539525E3590F1607718F97',
       'B706835DE79A2B4E80506F582AF3676A'], dtype=object)

In [15]:
# check value counts of doctorid
appointments_df['doctorid'].value_counts()

doctorid
3349958A3E56580D4E415DA345703886    238997
4F05D4821FE9967817DEA5A20C4E7B35    133513
95177E528F8D6C7C28A5473FD5A471B6    106222
9F93557D309F655FF06F109A08DCF7C4     72596
852C296DFA59522F563AEF29D8D0ADF6     72453
                                     ...
ADF7E293599134777339FDC40DDFA818         1
32B127307A606EFFDCC8E51F60A45922         1
9903F53EB5F12F84F496530B0DC2526C         1
6FB993285D56E6927284FF9B11AC6851         1
A381C2C35C9157F6B67FD07D5A200AE1         1
Name: count, Length: 10832, dtype: int64

In [12]:
# check null values of doctorid
appointments_df['doctorid'].isnull().sum()

0

### `apptid` variable

In [16]:
# check values of apptid
appointments_df['apptid']

0          C1CC0949B93D00A559F7A0BD38361E80
1          6585A31C60A1886FBA1433C50012B504
2          7250DCFF615E6580295C7E6ED4322371
3          F5BBDCC08E39332F0AC27BB95CF1396A
4          55783FB42A02DABC3B2ED239B924DC87
                         ...
9752927    215A26E2E5B831D87C41A5C1CC382B1C
9752928    E9EB60E3DA311FAE308A2DB53B6CCBAC
9752929    EFE2DDFD855E2B4E1C67956CE1CE8A6E
9752930    434410208F17F50143E1CE66E4CEF23F
9752931    62D462EFFD157E70C4301E555962D44B
Name: apptid, Length: 9752932, dtype: object

In [17]:
# check unique values of apptid
appointments_df['apptid'].unique()

array(['C1CC0949B93D00A559F7A0BD38361E80',
       '6585A31C60A1886FBA1433C50012B504',
       '7250DCFF615E6580295C7E6ED4322371', ...,
       'EFE2DDFD855E2B4E1C67956CE1CE8A6E',
       '434410208F17F50143E1CE66E4CEF23F',
       '62D462EFFD157E70C4301E555962D44B'], dtype=object)

In [18]:
# check value counts of apptid
appointments_df['apptid'].value_counts()

apptid
C1CC0949B93D00A559F7A0BD38361E80    1
F7C605ADA76D7F1CC8C6F74741B0C582    1
4E698A1E6BF55AF28BFC1BFD60F8A1EB    1
6D3C94EB38F1784D71350CED302D1F22    1
EF431FD37AEF6661C3B1412E2D9A13C8    1
                                   ..
B50B4D1703A101F81F86DAEFC0A3C784    1
C4AADFD59C168610BD7A465FA54F492B    1
7C87DAD8B177D7C0ABAC3573BC627301    1
F8AA2DDF109DB830D01A49808B18F7B6    1
62D462EFFD157E70C4301E555962D44B    1
Name: count, Length: 9752932, dtype: int64

In [19]:
# check null values of apptid
appointments_df['apptid'].isnull().sum()

0

### `status` variable

In [20]:
# check values of status
appointments_df['status']

0          Complete
1            Queued
2            Queued
3            Queued
4            Queued
             ...
9752927      Queued
9752928      Queued
9752929      Queued
9752930      Queued
9752931      Queued
Name: status, Length: 9752932, dtype: object

In [21]:
# check unique values of status
appointments_df['status'].unique()

array(['Complete', 'Queued', 'NoShow', 'Serving', 'Cancel', 'Skip',
       'Completed', 'Admitted'], dtype=object)

In [22]:
# check count for status since there are two values for 'Complete'
status_vc = appointments_df['status'].value_counts()
print(status_vc)

status
Complete     6473675
Queued       2523855
Serving       284774
NoShow        230048
Cancel        213270
Skip           27298
Completed         10
Admitted           2
Name: count, dtype: int64

In [23]:
# replace Completed with Complete
appointments_df['status'] = appointments_df['status'].replace({'Completed': 'Complete'}, regex=True)
status_vc = appointments_df['status'].value_counts()
print(status_vc)

status
Complete    6473685
Queued      2523855
Serving      284774
NoShow       230048
Cancel       213270
Skip          27298
Admitted          2
Name: count, dtype: int64

In [24]:
# check null values of status
appointments_df['status'].isnull().sum()

0

### `TimeQueued` variable

In [25]:
# check values of TimeQueued
appointments_df['TimeQueued']

0                    2018-04-11 01:59:58
1                    2018-04-10 10:34:16
2                    2018-04-03 15:26:19
3          2015-11-24 08:01:13.920000000
4          2015-11-24 08:01:00.420000000
                       ...
9752927    2023-11-20 00:34:25.337000000
9752928    2023-12-05 07:51:25.443000000
9752929    2024-01-04 06:11:06.437000000
9752930    2024-01-13 06:12:54.737000000
9752931    2024-01-04 00:45:05.063000000
Name: TimeQueued, Length: 9752932, dtype: object

In [26]:
# check unique values of TimeQueued
appointments_df['TimeQueued'].unique()

array(['2018-04-11 01:59:58', '2018-04-10 10:34:16',
       '2018-04-03 15:26:19', ..., '2024-01-04 06:11:06.437000000',
       '2024-01-13 06:12:54.737000000', '2024-01-04 00:45:05.063000000'],
      dtype=object)

In [27]:
# check value counts of TimeQueued
appointments_df['TimeQueued'].value_counts()

TimeQueued
2005-05-23 16:00:00              917
2016-12-16 16:00:00              362
2017-12-03 16:00:00              300
2016-11-25 16:00:00              281
2017-06-30 16:00:00              256
                                ...
2022-04-02 05:43:15.457000000      1
2022-04-01 13:13:45.913000000      1
2022-04-02 03:52:41.693000000      1
2022-04-01 12:54:41.753000000      1
2024-01-04 00:45:05.063000000      1
Name: count, Length: 9415233, dtype: int64

In [28]:
# check null values of TimeQueued
appointments_df['TimeQueued'].isnull().sum()

0

### `QueueDate` variable

In [29]:
# check values of QueueDate
appointments_df['QueueDate']

0          2018-04-10 16:00:00
1          2018-04-08 16:00:00
2          2018-03-30 16:00:00
3                          NaN
4                          NaN
                  ...
9752927    2023-11-22 16:00:00
9752928    2023-12-04 16:00:00
9752929    2024-01-03 16:00:00
9752930    2024-01-12 16:00:00
9752931    2024-01-03 16:00:00
Name: QueueDate, Length: 9752932, dtype: object

In [30]:
# check unique values of QueueDate
appointments_df['QueueDate'].unique()

array(['2018-04-10 16:00:00', '2018-04-08 16:00:00',
       '2018-03-30 16:00:00', ..., '2026-01-22 16:00:00',
       '2008-12-30 16:00:00', '2026-07-14 16:00:00'], dtype=object)

In [31]:
# check value counts of QueueDate
appointments_df['QueueDate'].value_counts()

QueueDate
2024-01-07 16:00:00    14044
2024-01-08 16:00:00    13398
2024-01-21 16:00:00    13299
2024-01-14 16:00:00    13257
2023-11-12 16:00:00    13134
                       ...
2000-08-11 16:00:00        1
2000-06-30 16:00:00        1
2000-04-12 16:00:00        1
2000-04-09 16:00:00        1
2026-07-14 16:00:00        1
Name: count, Length: 6290, dtype: int64

In [32]:
# check null values of QueueDate
appointments_df['QueueDate'].isnull().sum()

18

### `StartTime` variable

In [33]:
# check values of StartTime
appointments_df['StartTime']

0                          NaN
1          2018-04-09 10:33:00
2          2018-03-31 15:25:00
3                          NaN
4                          NaN
                  ...
9752927                    NaN
9752928                    NaN
9752929    2024-01-04 08:00:00
9752930    2024-01-13 08:00:00
9752931    2024-01-04 02:30:00
Name: StartTime, Length: 9752932, dtype: object

In [34]:
# check unique values of StartTime
appointments_df['StartTime'].unique()

array([nan, '2018-04-09 10:33:00', '2018-03-31 15:25:00', ...,
       '2023-07-20 07:30:33', '2023-08-08 08:00:55',
       '2023-11-03 19:30:00'], dtype=object)

In [35]:
# check value counts of StartTime
appointments_df['StartTime'].value_counts()

StartTime
2005-05-23 16:00:00    917
2023-03-03 02:00:00    359
2023-08-12 02:00:00    331
2023-11-11 02:00:00    319
2023-11-25 02:00:00    310
                      ...
2023-01-20 06:15:57      1
2023-01-20 06:45:26      1
2023-01-23 06:45:38      1
2023-01-23 06:15:42      1
2023-11-03 19:30:00      1
Name: count, Length: 1058279, dtype: int64

In [36]:
# check null values of StartTime
appointments_df['StartTime'].isnull().sum()

5879400

### `EndTime` variable

In [37]:
# check values of EndTime
appointments_df['EndTime']

0                          NaN
1          2018-04-12 05:29:57
2          2018-04-05 15:51:47
3                          NaN
4                          NaN
                  ...
9752927                    NaN
9752928                    NaN
9752929    2024-01-04 08:15:00
9752930    2024-01-13 08:15:00
9752931    2024-01-04 02:45:00
Name: EndTime, Length: 9752932, dtype: object

In [38]:
# check unique values of EndTime
appointments_df['EndTime'].unique()

array([nan, '2018-04-12 05:29:57', '2018-04-05 15:51:47', ...,
       '2023-07-20 07:45:33', '2023-08-08 08:15:55',
       '2023-11-03 19:45:00'], dtype=object)

In [39]:
# check value counts of EndTime
appointments_df['EndTime'].value_counts()

EndTime
2023-03-03 02:15:00    263
2023-11-24 09:15:00    220
2023-08-12 02:15:00    210
2023-11-25 02:15:00    188
2023-11-11 02:15:00    180
                      ...
2023-01-20 06:20:32      1
2023-01-20 06:10:27      1
2023-01-20 06:40:05      1
2023-01-20 07:00:38      1
2023-11-03 19:45:00      1
Name: count, Length: 962856, dtype: int64

In [40]:
# check null values of EndTime
appointments_df['EndTime'].isnull().sum()

6036781

### `type` variable

In [41]:
# check values of type
appointments_df['type']

0          Consultation
1             Inpatient
2             Inpatient
3          Consultation
4          Consultation
               ...
9752927    Consultation
9752928    Consultation
9752929    Consultation
9752930    Consultation
9752931    Consultation
Name: type, Length: 9752932, dtype: object

In [42]:
# check unique values of type
appointments_df['type'].unique()

array(['Consultation', 'Inpatient'], dtype=object)

In [43]:
type_vc = appointments_df['type'].value_counts()
print(type_vc)

type
Consultation    9640181
Inpatient        112751
Name: count, dtype: int64

In [44]:
# check null values of type
appointments_df['type'].isnull().sum()

0

### `Virtual` variable

In [45]:
# check values of Virtual
appointments_df['Virtual']

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
           ...
9752927    False
9752928    False
9752929    False
9752930    False
9752931    False
Name: Virtual, Length: 9752932, dtype: object

In [46]:
# check unique values of Virtual
appointments_df['Virtual'].unique()

array([nan, False, True], dtype=object)

In [47]:
virtual_vc = appointments_df['Virtual'].value_counts()
print(virtual_vc)

Virtual
False    6276648
True     1523691
Name: count, dtype: int64

In [48]:
# check null values of Virtual
appointments_df['Virtual'].isnull().sum()

1952593

In [49]:
# Select the column you want to export
selected_column = appointments_df['QueueDate']

# Write the selected column to a new CSV file
selected_column.to_csv('newfile.csv', index=False)