## SETUP

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pytz

# sets the theme of the charts
plt.style.use('seaborn-v0_8-darkgrid')

%matplotlib inline

In [2]:
# imports the csv files
appointments_df = pd.read_csv('appointments.csv', low_memory=False, encoding='unicode_escape')

In [3]:
final_appointments_df = appointments_df

In [4]:
final_appointments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9752932 entries, 0 to 9752931
Data columns (total 11 columns):
 #   Column      Dtype
---  ------      -----
 0   pxid        object
 1   clinicid    object
 2   doctorid    object
 3   apptid      object
 4   status      object
 5   TimeQueued  object
 6   QueueDate   object
 7   StartTime   object
 8   EndTime     object
 9   type        object
 10  Virtual     object
dtypes: object(11)
memory usage: 818.5+ MB

## `id` variables

### `pxid` variable

In [5]:
# check values of pxid
appointments_df['pxid']

0          EF196B348A49FB32DABC9834DC4FAAD9
1          EAE3C87D0B33351272F2E9B9B1B56217
2          7C5C93809D626CC702D08F33985B2B58
3          C300C2B9E0E5D4C46E8093BCDBFA05CA
4          B3DBE7F9E4DC33CBC5660E0A923CF8E8
                         ...
9752927    2583E761CF4CAB4813AAEAFDAA883CC6
9752928    F51E6BF96EA5028AE5F5C01EBF08E3BD
9752929    84E3EB4A060096C3702D33F5A52E8B43
9752930    2B9F701BED6F68800637ADB7EF4CACE2
9752931    2ED01D09EF929AE3CA7564A2CB09DC2C
Name: pxid, Length: 9752932, dtype: object

In [6]:
# check unique values of pxid
appointments_df['pxid'].unique()

array(['EF196B348A49FB32DABC9834DC4FAAD9',
       'EAE3C87D0B33351272F2E9B9B1B56217',
       '7C5C93809D626CC702D08F33985B2B58', ...,
       '84E3EB4A060096C3702D33F5A52E8B43',
       '2B9F701BED6F68800637ADB7EF4CACE2',
       '2ED01D09EF929AE3CA7564A2CB09DC2C'], dtype=object)

In [7]:
# check value counts of pxid
appointments_df['pxid'].value_counts()

pxid
7CB50A8783C05F2788D7AE1EE79A4CF7    1249
0761C17912CDEF7AEF25D118E1936D9A     590
B4A945E181DE1FFB82D1D18CA9A51687     583
B2B657D3C301FFCBFDA0B2ED17E7A5EB     516
A2536B80CAD05E14355410332513D550     374
                                    ...
8AFAF290232A5A2738924D93DEE9DCC7       1
31E474891F3CB25A7E5A386E04549375       1
CF29CECFA79A3A9C93DF553B7223F4B7       1
ABD0DCF0DD4D2581718EF6C945053FBE       1
2ED01D09EF929AE3CA7564A2CB09DC2C       1
Name: count, Length: 3946064, dtype: int64

In [8]:
# check for null values of pxid
pxid_count = appointments_df['pxid'].isnull().sum()

### `clinicid` variable

In [9]:
# check values of clinicid
appointments_df['clinicid']

0          ADF7EE2DCF142B0E11888E72B43FCB75
1          1E0F65EB20ACBFB27EE05DDC000B50EC
2          1E0F65EB20ACBFB27EE05DDC000B50EC
3          98C39996BF1543E974747A2549B3107C
4          77EE3BC58CE560B86C2B59363281E914
                         ...
9752927    CCFC2D538DDFF519D893A6B966A1C4F1
9752928    CCFC2D538DDFF519D893A6B966A1C4F1
9752929    CCFC2D538DDFF519D893A6B966A1C4F1
9752930    CCFC2D538DDFF519D893A6B966A1C4F1
9752931    40F4775D64533EE66E3E20AE64228661
Name: clinicid, Length: 9752932, dtype: object

In [10]:
# check unique values of clinicid
appointments_df['clinicid'].unique()

array(['ADF7EE2DCF142B0E11888E72B43FCB75',
       '1E0F65EB20ACBFB27EE05DDC000B50EC',
       '98C39996BF1543E974747A2549B3107C', ...,
       '772C1C73D4FFE88046A3CDB8772E53EB',
       'CCFC2D538DDFF519D893A6B966A1C4F1',
       '40F4775D64533EE66E3E20AE64228661'], dtype=object)

In [11]:
# check value counts of clinicid
appointments_df['clinicid'].value_counts()

clinicid
7522A10DDF6916ABCCF0163B58CA0543    109517
6467C327EAF8940B4DD07A08C63C5E85    102465
D7FD83EAF0A5593A190E8E9C8D7ECE84     72096
F2B4053221961416D47D497814A8064F     70546
A7BF3F5462CC82062E41B3A2262E1A21     57308
                                     ...
5B92E4945EB3A04990671A4DA604FF17         1
933BD65AC164FA84EBEF0C17AE189B43         1
966BC24F56AB8397AB2303E8E4CDB4C7         1
86A2587A85BE5C0CC7E8D02F82DF6CC1         1
40F4775D64533EE66E3E20AE64228661         1
Name: count, Length: 25262, dtype: int64

In [12]:
# check for null values of clinicid
appointments_df['clinicid'].isnull().sum()

0

### `doctorid` variable

In [13]:
# check values of doctorid
appointments_df['doctorid']

0          BB04AF0F7ECAEE4AAE62035497DA1387
1          82AA4B0AF34C2313A562076992E50AA3
2          82AA4B0AF34C2313A562076992E50AA3
3          AD61AB143223EFBC24C7D2583BE69251
4          AD61AB143223EFBC24C7D2583BE69251
                         ...
9752927    B706835DE79A2B4E80506F582AF3676A
9752928    B706835DE79A2B4E80506F582AF3676A
9752929    B706835DE79A2B4E80506F582AF3676A
9752930    B706835DE79A2B4E80506F582AF3676A
9752931    B706835DE79A2B4E80506F582AF3676A
Name: doctorid, Length: 9752932, dtype: object

In [14]:
# check unique values of doctorid
appointments_df['doctorid'].unique()

array(['BB04AF0F7ECAEE4AAE62035497DA1387',
       '82AA4B0AF34C2313A562076992E50AA3',
       'AD61AB143223EFBC24C7D2583BE69251', ...,
       '69B4FA3BE19BDF400DF34E41B93636A4',
       '4FC8ED929E539525E3590F1607718F97',
       'B706835DE79A2B4E80506F582AF3676A'], dtype=object)

In [15]:
# check value counts of doctorid
appointments_df['doctorid'].value_counts()

doctorid
3349958A3E56580D4E415DA345703886    238997
4F05D4821FE9967817DEA5A20C4E7B35    133513
95177E528F8D6C7C28A5473FD5A471B6    106222
9F93557D309F655FF06F109A08DCF7C4     72596
852C296DFA59522F563AEF29D8D0ADF6     72453
                                     ...
ADF7E293599134777339FDC40DDFA818         1
32B127307A606EFFDCC8E51F60A45922         1
9903F53EB5F12F84F496530B0DC2526C         1
6FB993285D56E6927284FF9B11AC6851         1
A381C2C35C9157F6B67FD07D5A200AE1         1
Name: count, Length: 10832, dtype: int64

In [16]:
# check null values of doctorid
appointments_df['doctorid'].isnull().sum()

0

### `apptid` variable

In [17]:
# check values of apptid
appointments_df['apptid']

0          C1CC0949B93D00A559F7A0BD38361E80
1          6585A31C60A1886FBA1433C50012B504
2          7250DCFF615E6580295C7E6ED4322371
3          F5BBDCC08E39332F0AC27BB95CF1396A
4          55783FB42A02DABC3B2ED239B924DC87
                         ...
9752927    215A26E2E5B831D87C41A5C1CC382B1C
9752928    E9EB60E3DA311FAE308A2DB53B6CCBAC
9752929    EFE2DDFD855E2B4E1C67956CE1CE8A6E
9752930    434410208F17F50143E1CE66E4CEF23F
9752931    62D462EFFD157E70C4301E555962D44B
Name: apptid, Length: 9752932, dtype: object

In [18]:
# check unique values of apptid
appointments_df['apptid'].unique()

array(['C1CC0949B93D00A559F7A0BD38361E80',
       '6585A31C60A1886FBA1433C50012B504',
       '7250DCFF615E6580295C7E6ED4322371', ...,
       'EFE2DDFD855E2B4E1C67956CE1CE8A6E',
       '434410208F17F50143E1CE66E4CEF23F',
       '62D462EFFD157E70C4301E555962D44B'], dtype=object)

In [19]:
# check value counts of apptid
appointments_df['apptid'].value_counts()

apptid
C1CC0949B93D00A559F7A0BD38361E80    1
F7C605ADA76D7F1CC8C6F74741B0C582    1
4E698A1E6BF55AF28BFC1BFD60F8A1EB    1
6D3C94EB38F1784D71350CED302D1F22    1
EF431FD37AEF6661C3B1412E2D9A13C8    1
                                   ..
B50B4D1703A101F81F86DAEFC0A3C784    1
C4AADFD59C168610BD7A465FA54F492B    1
7C87DAD8B177D7C0ABAC3573BC627301    1
F8AA2DDF109DB830D01A49808B18F7B6    1
62D462EFFD157E70C4301E555962D44B    1
Name: count, Length: 9752932, dtype: int64

In [20]:
# check null values of apptid
appointments_df['apptid'].isnull().sum()

0

## TO CLEAN

### `status` variable

In [21]:
# check values of status
appointments_df['status']

0          Complete
1            Queued
2            Queued
3            Queued
4            Queued
             ...
9752927      Queued
9752928      Queued
9752929      Queued
9752930      Queued
9752931      Queued
Name: status, Length: 9752932, dtype: object

In [22]:
# check unique values of status
appointments_df['status'].unique()

array(['Complete', 'Queued', 'NoShow', 'Serving', 'Cancel', 'Skip',
       'Completed', 'Admitted'], dtype=object)

In [23]:
# check count for status since there are two values for 'Complete'
appointments_df['status'].value_counts()

status
Complete     6473675
Queued       2523855
Serving       284774
NoShow        230048
Cancel        213270
Skip           27298
Completed         10
Admitted           2
Name: count, dtype: int64

In [24]:
# replace Completed with Complete
appointments_df['status'] = appointments_df['status'].replace({'Completed': 'Complete'}, regex=True)
status_vc = appointments_df['status'].value_counts()
print(status_vc)

status
Complete    6473685
Queued      2523855
Serving      284774
NoShow       230048
Cancel       213270
Skip          27298
Admitted          2
Name: count, dtype: int64

In [25]:
# check null values of status
appointments_df['status'].isnull().sum()

0

### `QueueDate` variable

In [26]:
# check values of QueueDate
appointments_df['QueueDate']

0          2018-04-10 16:00:00
1          2018-04-08 16:00:00
2          2018-03-30 16:00:00
3                          NaN
4                          NaN
                  ...
9752927    2023-11-22 16:00:00
9752928    2023-12-04 16:00:00
9752929    2024-01-03 16:00:00
9752930    2024-01-12 16:00:00
9752931    2024-01-03 16:00:00
Name: QueueDate, Length: 9752932, dtype: object

In [27]:
# convert to datetime data type
appointments_df['QueueDate'] = pd.to_datetime(appointments_df['QueueDate'], format='mixed', errors='coerce')

In [28]:
appointments_df['QueueDate'] = appointments_df['QueueDate'].dt.floor('s')

In [29]:
# check null values of QueueDate
appointments_df['QueueDate'].isnull().sum()

99

In [30]:
# drop rows that have invalid Queuedate
appointments_df = appointments_df.dropna(subset=['QueueDate'])

In [31]:
# Set the timezone to GMT+8 (Asia/Singapore)
asian_tz = pytz.timezone('Asia/Singapore')
# Convert the 'QueueDate' column to the new timezone
appointments_df['QueueDate'] = appointments_df['QueueDate'].dt.tz_localize('UTC').dt.tz_convert(asian_tz)

C:\Users\aizur\AppData\Local\Temp\ipykernel_21088\2623430957.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  appointments_df['QueueDate'] = appointments_df['QueueDate'].dt.tz_localize('UTC').dt.tz_convert(asian_tz)

### `TimeQueued` variable

In [32]:
# check values of TimeQueued
appointments_df['TimeQueued']

0                    2018-04-11 01:59:58
1                    2018-04-10 10:34:16
2                    2018-04-03 15:26:19
21         2020-08-03 02:05:14.693000000
22         2020-08-07 04:39:30.713000000
                       ...
9752927    2023-11-20 00:34:25.337000000
9752928    2023-12-05 07:51:25.443000000
9752929    2024-01-04 06:11:06.437000000
9752930    2024-01-13 06:12:54.737000000
9752931    2024-01-04 00:45:05.063000000
Name: TimeQueued, Length: 9752833, dtype: object

In [33]:
# convert to datetime data type
appointments_df['TimeQueued'] = pd.to_datetime(appointments_df['TimeQueued'], format='mixed', errors='coerce')

C:\Users\aizur\AppData\Local\Temp\ipykernel_21088\2290302318.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  appointments_df['TimeQueued'] = pd.to_datetime(appointments_df['TimeQueued'], format='mixed', errors='coerce')

In [34]:
appointments_df['TimeQueued'] = appointments_df['TimeQueued'].dt.floor('s')

C:\Users\aizur\AppData\Local\Temp\ipykernel_21088\2897577045.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  appointments_df['TimeQueued'] = appointments_df['TimeQueued'].dt.floor('s')

In [35]:
# check null values of TimeQueued
appointments_df['TimeQueued'].isnull().sum()

0

In [36]:
# drop rows that have invalid TimeQueued
appointments_df = appointments_df.dropna(subset=['TimeQueued'])

In [37]:
# Set the timezone to GMT+8 (Asia/Singapore)
asian_tz = pytz.timezone('Asia/Singapore')

# Convert the 'QueueDate' column to the new timezone
appointments_df['TimeQueued'] = appointments_df['TimeQueued'].dt.tz_localize('UTC').dt.tz_convert(asian_tz)

In [38]:
len(appointments_df.loc[appointments_df['TimeQueued'] < appointments_df['QueueDate'], 'TimeQueued'])

3606012

In [39]:
# drop rows whose timequeued is earlier than Queue Date
appointments_df.loc[appointments_df['TimeQueued'] < appointments_df['QueueDate'], 'TimeQueued'] = pd.NaT
appointments_df = appointments_df.dropna(subset=['TimeQueued'])

### `StartTime` variable

In [40]:
# check values of StartTime
appointments_df['StartTime']

0                          NaN
1          2018-04-09 10:33:00
2          2018-03-31 15:25:00
27                         NaN
29         2021-02-03 05:30:00
                  ...
9752926                    NaN
9752928                    NaN
9752929    2024-01-04 08:00:00
9752930    2024-01-13 08:00:00
9752931    2024-01-04 02:30:00
Name: StartTime, Length: 6146821, dtype: object

In [41]:
# convert to datetime data type
appointments_df['StartTime'] = pd.to_datetime(appointments_df['StartTime'], format='mixed', errors='coerce')

In [42]:
appointments_df['StartTime'] = appointments_df['StartTime'].dt.floor('s')

In [43]:
# check null values of StartTime
appointments_df['StartTime'].isnull().sum()

4258586

In [44]:
# drop rows that have invalid TimeQueued
appointments_df = appointments_df.dropna(subset=['StartTime'])

In [45]:
# Set the timezone to GMT+8 (Asia/Singapore)
asian_tz = pytz.timezone('Asia/Singapore')

# Convert the 'QueueDate' column to the new timezone
appointments_df['StartTime'] = appointments_df['StartTime'].dt.tz_localize('UTC').dt.tz_convert(asian_tz)

In [46]:
# drop rows whose StartTime is earlier than TimeQueued
appointments_df.loc[appointments_df['StartTime'] < appointments_df['TimeQueued'], 'StartTime'] = pd.NaT
appointments_df = appointments_df.dropna(subset=['StartTime'])

### `EndTime` variable

In [47]:
# check values of EndTime
appointments_df['EndTime']

29         2021-02-03 05:45:00
32         2021-05-04 11:15:00
34         2021-05-19 05:30:00
35         2021-05-19 05:15:00
36         2021-06-02 11:15:00
                  ...
9752921    2023-11-11 07:45:00
9752925    2023-11-14 08:30:00
9752929    2024-01-04 08:15:00
9752930    2024-01-13 08:15:00
9752931    2024-01-04 02:45:00
Name: EndTime, Length: 1247946, dtype: object

In [48]:
# convert to datetime data type
appointments_df['EndTime'] = pd.to_datetime(appointments_df['EndTime'], format='mixed', errors='coerce')

In [49]:
appointments_df['EndTime'] = appointments_df['EndTime'].dt.floor('s')

In [50]:
# check null values of EndTime
appointments_df['EndTime'].isnull().sum()

149353

In [51]:
# drop rows that have invalid TimeQueued
appointments_df = appointments_df.dropna(subset=['EndTime'])

In [52]:
# Set the timezone to GMT+8 (Asia/Singapore)
asian_tz = pytz.timezone('Asia/Singapore')

# Convert the 'QueueDate' column to the new timezone
appointments_df['EndTime'] = appointments_df['EndTime'].dt.tz_localize('UTC').dt.tz_convert(asian_tz)

In [53]:
# drop rows whose EndTime is earlier than StartTime
appointments_df['InvalidDuration'] = np.where(appointments_df['EndTime'] < appointments_df['StartTime'], 'Invalid', 'ok')
appointments_df = appointments_df[appointments_df['InvalidDuration'] != 'Invalid']
appointments_df = appointments_df.drop(columns=['InvalidDuration'])

In [54]:
#drop rows where status is complete but there is no endtime
mask = (appointments_df['status'] == 'Complete') & (appointments_df['EndTime'].isna())
appointments_df = appointments_df[~mask]

In [55]:
# drop rows where type is consultation and there is no end time
mask = (appointments_df['type'] == 'Consultation') & (appointments_df['EndTime'].isna())
appointments_df = appointments_df[~mask]

### `type` variable

In [56]:
# check values of type
appointments_df['type']

29         Consultation
32         Consultation
34         Consultation
35         Consultation
36         Consultation
               ...
9752921    Consultation
9752925    Consultation
9752929    Consultation
9752930    Consultation
9752931    Consultation
Name: type, Length: 1098153, dtype: object

In [57]:
# check unique values of type
appointments_df['type'].unique()

array(['Consultation', 'Inpatient'], dtype=object)

In [58]:
type_vc = appointments_df['type'].value_counts()
print(type_vc)

type
Consultation    1094548
Inpatient          3605
Name: count, dtype: int64

In [59]:
# check null values of type
appointments_df['type'].isnull().sum()

0

### `Virtual` variable

In [60]:
# check values of Virtual
appointments_df['Virtual']

29          True
32          True
34         False
35         False
36          True
           ...
9752921    False
9752925    False
9752929    False
9752930    False
9752931    False
Name: Virtual, Length: 1098153, dtype: object

In [61]:
# check unique values of Virtual
appointments_df['Virtual'].unique()

array([True, False, nan], dtype=object)

In [62]:
virtual_vc = appointments_df['Virtual'].value_counts()
print(virtual_vc)

Virtual
False    549344
True     459630
Name: count, dtype: int64

In [63]:
# check null values of Virtual
appointments_df['Virtual'].isnull().sum()

89179

In [64]:
# all inpatient appointments are set to False
appointments_df.loc[appointments_df['type'] == 'Inpatient', 'Virtual'] = False

In [65]:
# drop all rows where Virtual == NaN
appointments_df = appointments_df.dropna(subset=['Virtual'])

In [66]:
# Select the column you want to export
selected_column = final_appointments_df

# Write the selected column to a new CSV file
selected_column.to_csv('final-appointments.csv', index=False)

## Transforming Data

In [67]:
# Initialize new tables based on schema
fact_appointments = pd.DataFrame()

dim_status = pd.DataFrame()
dim_appt_type = pd.DataFrame()
dim_schedule = pd.DataFrame()
dim_queue = pd.DataFrame()

dim_doctors = pd.DataFrame()
dim_specialty = pd.DataFrame()

dim_clinics = pd.DataFrame()
dim_locations = pd.DataFrame()

### appointments

In [68]:
appointments_df = pd.read_csv('final-appointments.csv', low_memory=False, encoding='unicode_escape')
appointments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9752932 entries, 0 to 9752931
Data columns (total 11 columns):
 #   Column      Dtype
---  ------      -----
 0   pxid        object
 1   clinicid    object
 2   doctorid    object
 3   apptid      object
 4   status      object
 5   TimeQueued  object
 6   QueueDate   object
 7   StartTime   object
 8   EndTime     object
 9   type        object
 10  Virtual     object
dtypes: object(11)
memory usage: 818.5+ MB

In [69]:
import pandas as pd
import uuid

# Select columns for fact_appointments
fact_appointments = appointments_df[['apptid', 'pxid', 'clinicid', 'doctorid', 'status', 'type', 'Virtual']].copy()

# fill up dimension tables
dim_status = pd.DataFrame({
    'StatusId': range(1, len(appointments_df['status'].unique()) +  1),
    'status':  appointments_df['status'].unique()
})

dim_appt_type = pd.DataFrame({
    'TypeId': range(1, len(appointments_df['type'].unique()) +  1),
    'type':  appointments_df['type'].unique()
})

dim_schedule = appointments_df[['StartTime', 'EndTime']].copy()
dim_schedule['ScheduleId'] = dim_schedule.apply(lambda x: str(uuid.uuid4()).replace('-', '')[:32].upper(), axis=1)

dim_queue = appointments_df[['TimeQueued', 'QueueDate']].copy()
dim_queue['QueueId'] = dim_queue.apply(lambda x: str(uuid.uuid4()).replace('-', '')[:32].upper(), axis=1)

# add ids to fact table
fact_appointments['StatusId'] = fact_appointments['status'].map(dict(zip(dim_status['status'], dim_status['StatusId'])))
fact_appointments['TypeId'] = fact_appointments['type'].map(dict(zip(dim_appt_type['type'], dim_appt_type['TypeId'])))
fact_appointments['ScheduleId'] = dim_schedule['ScheduleId'].copy()
fact_appointments['QueueId'] = dim_queue['QueueId'].copy()

# drop columns
fact_appointments = fact_appointments.drop(columns=['status', 'type'])

# rearrange columns
dim_schedule = dim_schedule[['ScheduleId', 'StartTime', 'EndTime']]
dim_queue = dim_queue[['QueueId', 'TimeQueued', 'QueueDate']]
fact_appointments = fact_appointments[['apptid', 'pxid', 'clinicid','doctorid', 'StatusId', 'QueueId', 'ScheduleId', 'TypeId', 'Virtual']]

fact_appointments

,apptid,pxid,clinicid,doctorid,StatusId,QueueId,ScheduleId,TypeId,Virtual
0,C1CC0949B93D00A559F7A0BD38361E80,EF196B348A49FB32DABC9834DC4FAAD9,ADF7EE2DCF142B0E11888E72B43FCB75,BB04AF0F7ECAEE4AAE62035497DA1387,1,6A9B439717D24DB2B61E6642092822EA,01B609720B994FD38FE6077A6AF79B1C,1,NaN
1,6585A31C60A1886FBA1433C50012B504,EAE3C87D0B33351272F2E9B9B1B56217,1E0F65EB20ACBFB27EE05DDC000B50EC,82AA4B0AF34C2313A562076992E50AA3,2,8FE220888867463D8279D553B7BB1AAC,D332639EDF0343F2A74A9C45EB854744,2,NaN
2,7250DCFF615E6580295C7E6ED4322371,7C5C93809D626CC702D08F33985B2B58,1E0F65EB20ACBFB27EE05DDC000B50EC,82AA4B0AF34C2313A562076992E50AA3,2,0EA19F881E6A4D2A92D992175024E4EA,D765916B91DD4ADFA7B93B0DDEE8B03D,2,NaN
3,F5BBDCC08E39332F0AC27BB95CF1396A,C300C2B9E0E5D4C46E8093BCDBFA05CA,98C39996BF1543E974747A2549B3107C,AD61AB143223EFBC24C7D2583BE69251,2,4BA18F2EB78A41618CE2C2172F0350BA,2427B0E00FF7476084A588445638B3F3,1,NaN
4,55783FB42A02DABC3B2ED239B924DC87,B3DBE7F9E4DC33CBC5660E0A923CF8E8,77EE3BC58CE560B86C2B59363281E914,AD61AB143223EFBC24C7D2583BE69251,2,0D1CFE4D8C9E494F84F6C03E2CAEFCB9,3F4944B6965549F0867C47372898FEAD,1,NaN
...,...,...,...,...,...,...,...,...,...
9752927,215A26E2E5B831D87C41A5C1CC382B1C,2583E761CF4CAB4813AAEAFDAA883CC6,CCFC2D538DDFF519D893A6B966A1C4F1,B706835DE79A2B4E80506F582AF3676A,2,A81F26C815DD430497BDAD34C0742FB7,B175B0B725DF4818BDF6D9C4D9835796,1,False
9752928,E9EB60E3DA311FAE308A2DB53B6CCBAC,F51E6BF96EA5028AE5F5C01EBF08E3BD,CCFC2D538DDFF519D893A6B966A1C4F1,B706835DE79A2B4E80506F582AF3676A,2,6EFB542A5A6C4D4EA359FC0B30C26685,7F6B1A0D61C147ACB55956C073C5C731,1,False
9752929,EFE2DDFD855E2B4E1C67956CE1CE8A6E,84E3EB4A060096C3702D33F5A52E8B43,CCFC2D538DDFF519D893A6B966A1C4F1,B706835DE79A2B4E80506F582AF3676A,2,06E7E8BABCB141E887B26208EC86A526,EE9C0F9D2458444AACE15F8B40BEFD8A,1,False
9752930,434410208F17F50143E1CE66E4CEF23F,2B9F701BED6F68800637ADB7EF4CACE2,CCFC2D538DDFF519D893A6B966A1C4F1,B706835DE79A2B4E80506F582AF3676A,2,92992EF5D842435E9C5F290686BA89AD,CF103D8D2B6A4D06B7AEA47E7AB5FD8F,1,False
9752931,62D462EFFD157E70C4301E555962D44B,2ED01D09EF929AE3CA7564A2CB09DC2C,40F4775D64533EE66E3E20AE64228661,B706835DE79A2B4E80506F582AF3676A,2,8950DCE731CA443F9F43D2908CBA2510,ACD5923428A946F8ACB79FCDAFAF629A,1,False

### doctors

In [71]:
dim_doctors = pd.read_csv('doctors_cleaned.csv', low_memory=False, encoding='utf-8')
dim_doctors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17171 entries, 0 to 17170
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   doctorid       17171 non-null  object
 1   mainspecialty  17171 non-null  object
 2   age            17171 non-null  int64
dtypes: int64(1), object(2)
memory usage: 402.6+ KB

In [72]:
import pandas as pd
import re

# Replace 'and' with '&', Remove substrings that start and end with '()'
def clean_specialty(specialty):
    cleaned_specialty = re.sub(r'(?i)and', '&', specialty)
    cleaned_specialty = re.sub(r'\([^)]*\)', '', cleaned_specialty)
    return cleaned_specialty.strip()

# Generate abbrv, Ensure uniqueness by adding a numerical suffix if needed
def generate_abbreviation(specialty, existing_abbreviations, all_abbreviations):
    cleaned_specialty = re.sub(r'[^a-zA-Z0-9]', '_', specialty)
    abbreviation = ''.join(word[:3].upper() for word in cleaned_specialty.split('_'))
   
    suffix = 1
    original_abbreviation = abbreviation
    while abbreviation in existing_abbreviations or abbreviation in all_abbreviations:
        abbreviation = original_abbreviation + str(suffix)
        suffix += 1
    
    existing_abbreviations.add(abbreviation)
    all_abbreviations.add(abbreviation)
    return abbreviation
 
dim_specialty['Specialty'] = dim_doctors['mainspecialty'].unique()
dim_specialty['Specialty'] = dim_specialty['Specialty'].apply(clean_specialty)

# Add a new column 'SpecialtyId'
dim_specialty['SpecialtyId'] = ''
existing_abbreviations = set()
all_abbreviations = set()

# Generate abbreviations for each specialty
for idx, row in dim_specialty.iterrows():
    specialty = row['Specialty']
    abbreviation = generate_abbreviation(specialty, existing_abbreviations, all_abbreviations)
    dim_specialty.at[idx, 'SpecialtyId'] = abbreviation

dim_specialty = dim_specialty[['SpecialtyId', 'Specialty']].sort_values(by='SpecialtyId', ascending=True)

In [73]:
# Fix AND into same format, remove abrbeviations
dim_doctors['mainspecialty'] = dim_doctors['mainspecialty'].apply(clean_specialty)

# Append specialtyid to doctor specialty
dim_doctors['SpecialtyId'] = dim_doctors['mainspecialty'].map(dict(zip(dim_specialty['Specialty'], dim_specialty['SpecialtyId'])))

# Drop specialty column
dim_doctors = dim_doctors.drop(columns=['mainspecialty'])

#rearrange columns
dim_doctors = dim_doctors[['doctorid', 'SpecialtyId', 'age']]
dim_doctors

                               doctorid SpecialtyId  age
0      AD61AB143223EFBC24C7D2583BE69251      GENMED   41
1      D09BF41544A3365A46C9077EBB5E35C3      FAMMED   43
2      FBD7939D674997CDB4692D34DE8633C4      VASMED   26
3      35F4A8D465E6E1EDC05F3D8AB658C551      GENDEN   50
4      D1FE173D08E959397ADF34B1D77E88D7      ORTSUR   62
...                                 ...         ...  ...
17166  5A1AB4B16B638D40D0999EC501A9E27D         DER   32
17167  9DAD7AEA5A3D325372DF85D324E1840A         PSY   34
17168  D1EEFDEF38B0DC9967B2482ED5676157         PED   37
17169  178B515E6825D004EBAF232DD6977CCD      GENMED   29
17170  23BA85862DD19C3550E7C0F0AF84C7ED      INTMED   38

[17171 rows x 3 columns]

### clinics

In [74]:
# Populate dimension tables
dim_clinics = pd.read_csv('clinics_cleaned.csv', low_memory=False, encoding='unicode_escape')
dim_locations = dim_clinics[['City', 'Province', 'RegionName']].copy()

dim_clinics.info()
dim_locations.info()

# Remove Region-Province-City combination duplicates
dim_locations.drop_duplicates(subset=['City', 'Province', 'RegionName'], inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53962 entries, 0 to 53961
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   clinicid      53962 non-null  object
 1   hospitalname  17538 non-null  object
 2   IsHospital    53962 non-null  bool
 3   City          53962 non-null  object
 4   Province      53962 non-null  object
 5   RegionName    53962 non-null  object
dtypes: bool(1), object(5)
memory usage: 2.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53962 entries, 0 to 53961
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        53962 non-null  object
 1   Province    53962 non-null  object
 2   RegionName  53962 non-null  object
dtypes: object(3)
memory usage: 1.2+ MB

In [75]:
import pandas as pd
import re

# Function to remove vowels from a string
def remove_vowels(s):
    return ''.join(char for char in s if char.lower() not in {'a', 'e', 'i', 'o', 'u', ' '})

# Function to extract substring contained within parentheses
def extract_substring(s):
    match = re.search(r'\((.*?)\)$', s)
    return match.group(1) if match else ""
    
# Function to create location ID
def create_location_id(row):
    region_name_without_vowels = remove_vowels(row['RegionName'])
    region_name_substring = extract_substring(row['RegionName'])[-5:]
    province = remove_vowels(row['Province'])
    city = remove_vowels(row['City'])
    location_id = f"{region_name_substring.upper().replace('-','').replace('(','').replace(' ','')}{province.upper()}{city.upper()}"
    return location_id

# Apply the create_location_id function to the DataFrame
dim_locations['LocationId'] = dim_locations.apply(create_location_id, axis=1)

# Display the result
dim_locations = dim_locations[['LocationId', 'City', 'Province', 'RegionName']].sort_values(by='LocationId', ascending=True)
dim_locations

,LocationId,City,Province,RegionName
11366,BARMMBSLNL-BRK,Al-Barka,Basilan,Bangsamoro Autonomous Region in Muslim Mindana...
50269,BARMMBSLNSBLCTY,Isabela City,Basilan,Bangsamoro Autonomous Region in Muslim Mindana...
5145,BARMMLNDLSRBLNDNG,Balindong,Lanao del Sur,Bangsamoro Autonomous Region in Muslim Mindana...
36135,BARMMLNDLSRMRNT,Marantao,Lanao del Sur,Bangsamoro Autonomous Region in Muslim Mindana...
1188,BARMMLNDLSRMRWCTY,Marawi City,Lanao del Sur,Bangsamoro Autonomous Region in Muslim Mindana...
...,...,...,...,...
25363,XMSMSRNTLMNTC,Manticao,Misamis Oriental,Northern Mindanao (X)
30111,XMSMSRNTLNT,Initao,Misamis Oriental,Northern Mindanao (X)
34844,XMSMSRNTLPL,Opol,Misamis Oriental,Northern Mindanao (X)
41635,XMSMSRNTLTGLN,Tagoloan,Misamis Oriental,Northern Mindanao (X)
25364,XMSMSRNTLTLSYN,Talisayan,Misamis Oriental,Northern Mindanao (X)

In [76]:
dim_clinics['IsHospital'] = dim_clinics['IsHospital'].replace({True:  1, False:  0})

In [77]:
# merge locations to clinics table
dim_clinics = pd.merge(dim_clinics, dim_locations, on=['City', 'Province', 'RegionName'], how='left')

# drop Region, Province, City in column 
dim_clinics = dim_clinics.drop(columns=['City', 'Province', 'RegionName'])

# Rearrange columns
dim_clinics = dim_clinics[['clinicid', 'LocationId', 'hospitalname', 'IsHospital']]
dim_clinics

,clinicid,LocationId,hospitalname,IsHospital
0,77EE3BC58CE560B86C2B59363281E914,NCRMNLTGG,St. Luke's Medical Center-Global City,1
1,98C39996BF1543E974747A2549B3107C,NCRMNLMNL,Our Lady of Lourdes Hospital,1
2,9AEADE7BEADA35C83D3B344FBAFE43B0,NCRMNLMKT,Makati Medical Center,1
3,FDBD31F2027F20378B1A80125FC862DB,NCRMNLSNJN,Cardinal Santos Medical Center,1
4,205C3608ECB984C1F5F5D2F52C934428,ILCSSRBRGS,NaN,0
...,...,...,...,...
53957,8DE279A56DBCECE9F9FFC514A7D5A378,NCRMNLMNL,NaN,0
53958,55A64961C9AA4134016786AE7202682E,NCRMNLMNL,NaN,0
53959,075E464A7D15E6E5B9D8F8F5B5B16BB9,NCRMNLMNL,NaN,0
53960,01063BCF7624297FBB408495BCB62904,NCRMNLMLBN,Malabon Hospital and Medical Center,1
53961,5DA48026B54B6EEB6062817CAA7C30EA,NCRMNLMLBN,NaN,0

### export

In [78]:
selected_table = fact_appointments
selected_table.to_csv('fact_appointments.csv', index=False)

selected_table = dim_queue
selected_table.to_csv('dim_queue.csv', index=False)

selected_table = dim_schedule
selected_table.to_csv('dim_schedule.csv', index=False)

selected_table = dim_appt_type
selected_table.to_csv('dim_appt_type.csv', index=False)

selected_table = dim_status
selected_table.to_csv('dim_status.csv', index=False)

selected_table = dim_doctors
selected_table.to_csv('dim_doctors.csv', index=False)

selected_table = dim_specialty
selected_table.to_csv('dim_specialty.csv', index=False)

selected_table = dim_clinics
selected_table.to_csv('dim_clinics.csv', index=False)

selected_table = dim_locations
selected_table.to_csv('dim_locations.csv', index=False)