In [72]:
appointments_df['TimeQueued'] = appointments_df['TimeQueued'].dt.tz_localize(None)
appointments_df['QueueDate'] = appointments_df['QueueDate'].dt.tz_localize(None)
appointments_df['StartTime'] = appointments_df['StartTime'].dt.tz_localize(None)
appointments_df['EndTime'] = appointments_df['EndTime'].dt.tz_localize(None)

In [73]:
# checks the content of the csv files
appointments_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1591655 entries, 1 to 9752931
Data columns (total 11 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   pxid        1591655 non-null  object
 1   clinicid    1591655 non-null  object
 2   doctorid    1591655 non-null  object
 3   apptid      1591655 non-null  object
 4   status      1591655 non-null  object
 5   TimeQueued  1591655 non-null  datetime64[ns]
 6   QueueDate   1591655 non-null  datetime64[ns]
 7   StartTime   1591655 non-null  datetime64[ns]
 8   EndTime     1591655 non-null  datetime64[ns]
 9   type        1591655 non-null  object
 10  Virtual     1591655 non-null  object
dtypes: datetime64[ns](4), object(7)
memory usage: 145.7+ MB

In [6]:
appointments_df_copy = appointments_df

In [74]:
appointments_df

,pxid,clinicid,doctorid,apptid,status,TimeQueued,QueueDate,StartTime,EndTime,type,Virtual
1,EAE3C87D0B33351272F2E9B9B1B56217,1E0F65EB20ACBFB27EE05DDC000B50EC,82AA4B0AF34C2313A562076992E50AA3,6585A31C60A1886FBA1433C50012B504,Queued,2018-04-10 18:34:16,2018-04-09,2018-04-09 18:33:00,2018-04-12 13:29:57,Inpatient,False
2,7C5C93809D626CC702D08F33985B2B58,1E0F65EB20ACBFB27EE05DDC000B50EC,82AA4B0AF34C2313A562076992E50AA3,7250DCFF615E6580295C7E6ED4322371,Queued,2018-04-03 23:26:19,2018-03-31,2018-03-31 23:25:00,2018-04-05 23:51:47,Inpatient,False
29,AEDCF41DC52D12E251432E7AD7F1B63D,E3D2B39D8BC215F6540218D20280232A,6EB887126D24E8F1CD8AD5033482C781,3C97ED8DEB47F647CCB03EBD4EF29454,Queued,2021-02-03 12:57:56,2021-02-03,2021-02-03 13:30:00,2021-02-03 13:45:00,Consultation,True
32,5A6901F2FA4BD45CAE61DBE9AF5C77E5,E3D2B39D8BC215F6540218D20280232A,6EB887126D24E8F1CD8AD5033482C781,BECFD8A5DE525178D6D6A1AF9F286DFC,Complete,2021-05-04 12:45:32,2021-05-04,2021-05-04 19:00:00,2021-05-04 19:15:00,Consultation,True
34,4279B2E57C678E5D05055BB660037292,E3D2B39D8BC215F6540218D20280232A,6EB887126D24E8F1CD8AD5033482C781,164D322138305803002D9BC9E03059BF,Complete,2021-05-19 12:10:19,2021-05-19,2021-05-19 13:15:00,2021-05-19 13:30:00,Consultation,False
...,...,...,...,...,...,...,...,...,...,...,...
9752921,258FB9CE51FFBE5825A4EC0977E41ACF,CCFC2D538DDFF519D893A6B966A1C4F1,B706835DE79A2B4E80506F582AF3676A,E5868BC11C6F01CEF6D3DD1B414933BC,Queued,2023-11-11 14:51:52,2023-11-11,2023-11-11 15:30:00,2023-11-11 15:45:00,Consultation,False
9752925,AF42EA190D0B573061C36AE96B4E9DFA,CCFC2D538DDFF519D893A6B966A1C4F1,B706835DE79A2B4E80506F582AF3676A,7C0272E55A491A6161750CA41B053DB0,Queued,2023-11-14 10:32:27,2023-11-14,2023-11-14 16:15:00,2023-11-14 16:30:00,Consultation,False
9752929,84E3EB4A060096C3702D33F5A52E8B43,CCFC2D538DDFF519D893A6B966A1C4F1,B706835DE79A2B4E80506F582AF3676A,EFE2DDFD855E2B4E1C67956CE1CE8A6E,Queued,2024-01-04 14:11:06,2024-01-04,2024-01-04 16:00:00,2024-01-04 16:15:00,Consultation,False
9752930,2B9F701BED6F68800637ADB7EF4CACE2,CCFC2D538DDFF519D893A6B966A1C4F1,B706835DE79A2B4E80506F582AF3676A,434410208F17F50143E1CE66E4CEF23F,Queued,2024-01-13 14:12:54,2024-01-13,2024-01-13 16:00:00,2024-01-13 16:15:00,Consultation,False
9752931,2ED01D09EF929AE3CA7564A2CB09DC2C,40F4775D64533EE66E3E20AE64228661,B706835DE79A2B4E80506F582AF3676A,62D462EFFD157E70C4301E555962D44B,Queued,2024-01-04 08:45:05,2024-01-04,2024-01-04 10:30:00,2024-01-04 10:45:00,Consultation,False

## SETUP

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pytz

# sets the theme of the charts
plt.style.use('seaborn-v0_8-darkgrid')

%matplotlib inline

In [2]:
# imports the csv files
appointments_df = pd.read_csv('appointments.csv', low_memory=False, encoding='unicode_escape')

In [76]:
final_appointments_df = appointments_df

In [77]:
final_appointments_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1591655 entries, 1 to 9752931
Data columns (total 11 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   pxid        1591655 non-null  object
 1   clinicid    1591655 non-null  object
 2   doctorid    1591655 non-null  object
 3   apptid      1591655 non-null  object
 4   status      1591655 non-null  object
 5   TimeQueued  1591655 non-null  datetime64[ns]
 6   QueueDate   1591655 non-null  datetime64[ns]
 7   StartTime   1591655 non-null  datetime64[ns]
 8   EndTime     1591655 non-null  datetime64[ns]
 9   type        1591655 non-null  object
 10  Virtual     1591655 non-null  object
dtypes: datetime64[ns](4), object(7)
memory usage: 145.7+ MB

## `id` variables

### `pxid` variable

In [ ]:
# check values of pxid
appointments_df['pxid']

In [ ]:
# check unique values of pxid
appointments_df['pxid'].unique()

In [ ]:
# check value counts of pxid
appointments_df['pxid'].value_counts()

In [ ]:
# check for null values of pxid
pxid_count = appointments_df['pxid'].isnull().sum()

### `clinicid` variable

In [ ]:
# check values of clinicid
appointments_df['clinicid']

In [ ]:
# check unique values of clinicid
appointments_df['clinicid'].unique()

In [ ]:
# check value counts of clinicid
appointments_df['clinicid'].value_counts()

In [ ]:
# check for null values of clinicid
appointments_df['clinicid'].isnull().sum()

### `doctorid` variable

In [ ]:
# check values of doctorid
appointments_df['doctorid']

In [ ]:
# check unique values of doctorid
appointments_df['doctorid'].unique()

In [ ]:
# check value counts of doctorid
appointments_df['doctorid'].value_counts()

In [ ]:
# check null values of doctorid
appointments_df['doctorid'].isnull().sum()

### `apptid` variable

In [ ]:
# check values of apptid
appointments_df['apptid']

In [ ]:
# check unique values of apptid
appointments_df['apptid'].unique()

In [ ]:
# check value counts of apptid
appointments_df['apptid'].value_counts()

In [ ]:
# check null values of apptid
appointments_df['apptid'].isnull().sum()

## TO CLEAN

### `status` variable

In [8]:
# check values of status
appointments_df['status']

0          Complete
1            Queued
2            Queued
3            Queued
4            Queued
             ...
9752927      Queued
9752928      Queued
9752929      Queued
9752930      Queued
9752931      Queued
Name: status, Length: 9752932, dtype: object

In [9]:
# check unique values of status
appointments_df['status'].unique()

array(['Complete', 'Queued', 'NoShow', 'Serving', 'Cancel', 'Skip',
       'Completed', 'Admitted'], dtype=object)

In [10]:
# check count for status since there are two values for 'Complete'
appointments_df['status'].value_counts()

status
Complete     6473675
Queued       2523855
Serving       284774
NoShow        230048
Cancel        213270
Skip           27298
Completed         10
Admitted           2
Name: count, dtype: int64

In [11]:
# replace Completed with Complete
appointments_df['status'] = appointments_df['status'].replace({'Completed': 'Complete'}, regex=True)
status_vc = appointments_df['status'].value_counts()
print(status_vc)

status
Complete    6473685
Queued      2523855
Serving      284774
NoShow       230048
Cancel       213270
Skip          27298
Admitted          2
Name: count, dtype: int64

In [12]:
# check null values of status
appointments_df['status'].isnull().sum()

0

### `QueueDate` variable

In [16]:
# check values of QueueDate
appointments_df['QueueDate']

0         2018-04-10 16:00:00
1         2018-04-08 16:00:00
2         2018-03-30 16:00:00
3                         NaT
4                         NaT
                  ...
9752927   2023-11-22 16:00:00
9752928   2023-12-04 16:00:00
9752929   2024-01-03 16:00:00
9752930   2024-01-12 16:00:00
9752931   2024-01-03 16:00:00
Name: QueueDate, Length: 9752932, dtype: datetime64[ns]

In [13]:
# convert to datetime data type
appointments_df['QueueDate'] = pd.to_datetime(appointments_df['QueueDate'], format='mixed', errors='coerce')

In [15]:
appointments_df['QueueDate'] = appointments_df['QueueDate'].dt.floor('s')

In [65]:
# check null values of QueueDate
appointments_df['QueueDate'].isnull().sum()

0

In [18]:
# drop rows that have invalid Queuedate
appointments_df = appointments_df.dropna(subset=['QueueDate'])

In [19]:
# Set the timezone to GMT+8 (Asia/Singapore)
asian_tz = pytz.timezone('Asia/Singapore')
# Convert the 'QueueDate' column to the new timezone
appointments_df['QueueDate'] = appointments_df['QueueDate'].dt.tz_localize('UTC').dt.tz_convert(asian_tz)

C:\Users\Anne Sulit\AppData\Local\Temp\ipykernel_21772\2623430957.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  appointments_df['QueueDate'] = appointments_df['QueueDate'].dt.tz_localize('UTC').dt.tz_convert(asian_tz)

### `TimeQueued` variable

In [25]:
# check values of TimeQueued
appointments_df['TimeQueued']

0         2018-04-11 01:59:58
1         2018-04-10 10:34:16
2         2018-04-03 15:26:19
21        2020-08-03 02:05:14
22        2020-08-07 04:39:30
                  ...
9752927   2023-11-20 00:34:25
9752928   2023-12-05 07:51:25
9752929   2024-01-04 06:11:06
9752930   2024-01-13 06:12:54
9752931   2024-01-04 00:45:05
Name: TimeQueued, Length: 9752833, dtype: datetime64[ns]

In [21]:
# convert to datetime data type
appointments_df['TimeQueued'] = pd.to_datetime(appointments_df['TimeQueued'], format='mixed', errors='coerce')

C:\Users\Anne Sulit\AppData\Local\Temp\ipykernel_21772\2290302318.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  appointments_df['TimeQueued'] = pd.to_datetime(appointments_df['TimeQueued'], format='mixed', errors='coerce')

In [23]:
appointments_df['TimeQueued'] = appointments_df['TimeQueued'].dt.floor('s')

C:\Users\Anne Sulit\AppData\Local\Temp\ipykernel_21772\2897577045.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  appointments_df['TimeQueued'] = appointments_df['TimeQueued'].dt.floor('s')

In [66]:
# check null values of TimeQueued
appointments_df['TimeQueued'].isnull().sum()

0

In [27]:
# drop rows that have invalid TimeQueued
appointments_df = appointments_df.dropna(subset=['TimeQueued'])

In [28]:
# Set the timezone to GMT+8 (Asia/Singapore)
asian_tz = pytz.timezone('Asia/Singapore')

# Convert the 'QueueDate' column to the new timezone
appointments_df['TimeQueued'] = appointments_df['TimeQueued'].dt.tz_localize('UTC').dt.tz_convert(asian_tz)

In [29]:
len(appointments_df.loc[appointments_df['TimeQueued'] < appointments_df['QueueDate'], 'TimeQueued'])

3606012

In [30]:
# drop rows whose timequeued is earlier than Queue Date
appointments_df.loc[appointments_df['TimeQueued'] < appointments_df['QueueDate'], 'TimeQueued'] = pd.NaT
appointments_df = appointments_df.dropna(subset=['TimeQueued'])

### `StartTime` variable

In [34]:
# check values of StartTime
appointments_df['StartTime']

0                         NaT
1         2018-04-09 10:33:00
2         2018-03-31 15:25:00
27                        NaT
29        2021-02-03 05:30:00
                  ...
9752926                   NaT
9752928                   NaT
9752929   2024-01-04 08:00:00
9752930   2024-01-13 08:00:00
9752931   2024-01-04 02:30:00
Name: StartTime, Length: 6146821, dtype: datetime64[ns]

In [32]:
# convert to datetime data type
appointments_df['StartTime'] = pd.to_datetime(appointments_df['StartTime'], format='mixed', errors='coerce')

In [33]:
appointments_df['StartTime'] = appointments_df['StartTime'].dt.floor('s')

In [67]:
# check null values of StartTime
appointments_df['StartTime'].isnull().sum()

0

In [36]:
# drop rows that have invalid TimeQueued
appointments_df = appointments_df.dropna(subset=['StartTime'])

In [37]:
# Set the timezone to GMT+8 (Asia/Singapore)
asian_tz = pytz.timezone('Asia/Singapore')

# Convert the 'QueueDate' column to the new timezone
appointments_df['StartTime'] = appointments_df['StartTime'].dt.tz_localize('UTC').dt.tz_convert(asian_tz)

In [ ]:
# drop rows whose StartTime is earlier than TimeQueued
appointments_df.loc[appointments_df['StartTime'] < appointments_df['TimeQueued'], 'StartTime'] = pd.NaT
appointments_df = appointments_df.dropna(subset=['StartTime'])

### `EndTime` variable

In [42]:
# check values of EndTime
appointments_df['EndTime']

1         2018-04-12 05:29:57
2         2018-04-05 15:51:47
29        2021-02-03 05:45:00
32        2021-05-04 11:15:00
34        2021-05-19 05:30:00
                  ...
9752921   2023-11-11 07:45:00
9752925   2023-11-14 08:30:00
9752929   2024-01-04 08:15:00
9752930   2024-01-13 08:15:00
9752931   2024-01-04 02:45:00
Name: EndTime, Length: 1888235, dtype: datetime64[ns]

In [39]:
# convert to datetime data type
appointments_df['EndTime'] = pd.to_datetime(appointments_df['EndTime'], format='mixed', errors='coerce')

In [41]:
appointments_df['EndTime'] = appointments_df['EndTime'].dt.floor('s')

In [68]:
# check null values of EndTime
appointments_df['EndTime'].isnull().sum()

0

In [44]:
# drop rows that have invalid TimeQueued
appointments_df = appointments_df.dropna(subset=['EndTime'])

In [45]:
# Set the timezone to GMT+8 (Asia/Singapore)
asian_tz = pytz.timezone('Asia/Singapore')

# Convert the 'QueueDate' column to the new timezone
appointments_df['EndTime'] = appointments_df['EndTime'].dt.tz_localize('UTC').dt.tz_convert(asian_tz)

In [47]:
# drop rows whose EndTime is earlier than StartTime
appointments_df['InvalidDuration'] = np.where(appointments_df['EndTime'] < appointments_df['StartTime'], 'Invalid', 'ok')
appointments_df = appointments_df[appointments_df['InvalidDuration'] != 'Invalid']
appointments_df = appointments_df.drop(columns=['InvalidDuration'])

In [49]:
#drop rows where status is complete but there is no endtime
mask = (appointments_df['status'] == 'Complete') & (appointments_df['EndTime'].isna())
appointments_df = appointments_df[~mask]

In [50]:
# drop rows where type is consultation and there is no end time
mask = (appointments_df['type'] == 'Consultation') & (appointments_df['EndTime'].isna())
appointments_df = appointments_df[~mask]

### `type` variable

In [52]:
# check values of type
appointments_df['type']

1             Inpatient
2             Inpatient
29         Consultation
32         Consultation
34         Consultation
               ...
9752921    Consultation
9752925    Consultation
9752929    Consultation
9752930    Consultation
9752931    Consultation
Name: type, Length: 1730594, dtype: object

In [53]:
# check unique values of type
appointments_df['type'].unique()

array(['Inpatient', 'Consultation'], dtype=object)

In [54]:
type_vc = appointments_df['type'].value_counts()
print(type_vc)

type
Consultation    1625059
Inpatient        105535
Name: count, dtype: int64

In [55]:
# check null values of type
appointments_df['type'].isnull().sum()

0

### `Virtual` variable

In [56]:
# check values of Virtual
appointments_df['Virtual']

1            NaN
2            NaN
29          True
32          True
34         False
           ...
9752921    False
9752925    False
9752929    False
9752930    False
9752931    False
Name: Virtual, Length: 1730594, dtype: object

In [57]:
# check unique values of Virtual
appointments_df['Virtual'].unique()

array([nan, True, False], dtype=object)

In [58]:
virtual_vc = appointments_df['Virtual'].value_counts()
print(virtual_vc)

Virtual
False    985573
True     500549
Name: count, dtype: int64

In [69]:
# check null values of Virtual
appointments_df['Virtual'].isnull().sum()

0

In [60]:
# all inpatient appointments are set to False
appointments_df.loc[appointments_df['type'] == 'Inpatient', 'Virtual'] = False

In [61]:
# drop all rows where Virtual == NaN
appointments_df = appointments_df.dropna(subset=['Virtual'])

### New Columns

In [ ]:
check_df['QueueDifference'] = check_df['TimeQueued'] - check_df['QueueDate']

In [ ]:
check_df['WaitingTime'] = check_df['StartTime'] - check_df['TimeQueued']

In [ ]:
appointments_df['Duration'] = appointments_df['EndTime'] - appointments_df['StartTime']

In [ ]:
# drop rows whose EndTime is earlier than StartTime
#appointments_df['Valid'] = np.where(appointments_df['QueueDate'].dt.date == appointments_df['TimeQueued'].dt.date, '1', '0')


# Condition  1: QueueDate and TimeQueued are on the same date
condition1 = (appointments_df['QueueDate'].dt.date == appointments_df['TimeQueued'].dt.date)

# Condition  2: TimeQueued is later than QueueDate and type is 'inpatient'
condition2 = ((appointments_df['QueueDate'].dt.date == appointments_df['StartTime'].dt.date)) & (appointments_df['type'] == 'Inpatient')

# Use numpy.select to create the 'Valid' column with '1' where conditions are met
appointments_df['Valid'] = np.select([condition1, condition2], ['1', '1'], default='0')

### Checkers

In [ ]:
check_df = appointments_df[appointments_df['EndTime'].isna()]

In [ ]:
check_df

In [ ]:
check_df['status'].value_counts()

In [ ]:
check_df[(check_df['TimeQueued'].dt.date > check_df['QueueDate'].dt.date)].shape[0]

#check_df[(check_df['QueueDate'].dt.date == check_df['StartTime'].dt.date)].shape[0]

In [ ]:
consultations_df = appointments_df[(appointments_df['type'] == 'Consultation')&(appointments_df['Virtual'] == True)]

In [ ]:
consultations_df['Duration'].value_counts()

In [ ]:
appointments_df[appointments_df['type'] == 'Consultation']['Duration'].dt.days.value_counts()

In [ ]:
appointments_df[(appointments_df['type'] == 'Consultation') & (appointments_df['Duration'].dt.time > 15)].shape[0]

In [ ]:
count = appointments_df[(appointments_df['type'] == 'Inpatient') & (appointments_df['Virtual'].isna())].shape[0]
count1 = appointments_df[(appointments_df['type'] == 'Inpatient') & (appointments_df['Virtual'].notna())].shape[0]

print("Number of appointments where type is 'Inpatient' and 'Virtual' is NaN:", count)
print("Number of appointments where type is 'Inpatient' and 'Virtual' is not NaN:", count1)

In [ ]:
final_appointments_df['status'].value_counts()

In [ ]:
final_appointments_df[final_appointments_df['status'] == 'Admitted']

In [ ]:
appointments_df['status'].value_counts()

In [ ]:
appointments_df = appointments_df[((appointments_df['status'] != 'Complete') | (appointments_df['EndTime'].notna()))]
# appointments_df = appointments_df[((appointments_df['status'] != 'NoShow') | (appointments_df['EndTime'].notna()))]

### FORMATTING TIMES VARIABLES

In [ ]:
# get date
appointments_df['QueueDate'] = pd.to_datetime(appointments_df['QueueDate'], errors='coerce').dt.date
# convert to datetime data type
appointments_df['QueueDate'] = pd.to_datetime(appointments_df['QueueDate'], errors='coerce')

In [ ]:
# Remove the date component
appointmeznts_df['TimeQueued'] = appointments_df['TimeQueued'].dt.time
appointments_dfZ

## Exporting Files

In [78]:
# Select the column you want to export
selected_column = final_appointments_df

# Write the selected column to a new CSV file
selected_column.to_csv('final-appointments.csv', index=False)

In [ ]:
appointments_df[(appointments_df['type'] == 'Inpatient') & (appointments_df['Virtual'].notna())]

In [ ]:
count = appointments_df[(appointments_df['type'] == 'Inpatient') & (appointments_df['Valid'] == '0')].shape[0]

print("Number of appointments where type is 'Inpatient' and 'valid' is NaN:", count)

In [ ]:
consultations_df = appointments_df[(appointments_df['type'] == 'Consultation')&(appointments_df['Virtual'] == True)]

In [ ]:
dff = appointments_df[(appointments_df['TimeQueued'].dt.date > appointments_df['QueueDate'].dt.date) & (appointments_df['type'] == 'Inpatient')]

dff['status'].value_counts()

In [ ]:
#Complete', 'Queued', 'NoShow', 'Serving', 'Cancel', 'Skip','Completed', 'Admitted

specific_status_rows = appointments_df[appointments_df['type'] == 'Inpatient']
specific_status_rows

In [ ]:
appointments_df[appointments_df['Virtual'].isna()]

In [ ]:
consultations_df['Duration'].value_counts()

In [ ]:
appointments_df['status'].value_counts()

In [ ]:
extraappt_df = appointments_df
extraappt_df

In [ ]:
extraappt_df

In [ ]:
consults_df

In [ ]:
extraappt_df['Valid'].value_counts()

In [ ]:
extraappt_df['type'] == 'Inpatient']

In [ ]:
count = extraappt_df[(extraappt_df['Valid'] == '0') & (appointments_df['type'] == 'Consultation')].shape[0]
count1 = extraappt_df[(extraappt_df['Valid'] == '0') & (appointments_df['type'] == 'Inpatient')].shape[0]

print("Number of appointments where type is 'Consultation' and 'Virtual' is NaN:", count)
print("Number of appointments where type is 'Consultation' and 'Virtual' is NaN:", count1)

In [ ]:
consults_df['QueueDifference'] = consults_df['QueueDifference'].dt.days

In [ ]:
consults_df['QueueDifference'].value_counts()

In [ ]:
consults_df['Duration'].dt.days.value_counts()

In [ ]:
consults_df['WaitingTime'].dt.days.value_counts().sort_index()

In [ ]:
consults_df[consults_df['WaitingTime'].dt.days == 0]

In [ ]:
consults_df = extraappt_df[(extraappt_df['Valid'] == '0') & (appointments_df['type'] == 'Consultation')]

count = extraappt_df[(extraappt_df['Valid'] == '0') & (appointments_df['type'] == 'Consultation')].shape[0]
print("Number of appointments where type is 'Consultation' and 'Virtual' is NaN:", count)

In [ ]:
appointments_df = appointments_df.drop(columns=['QueueDifference', 'WaitingTime', 'Duration', 'Valid'])

In [ ]:
appointments_df

In [ ]:
appointments_df = extraappt_df
appointments_df